<template>
  <hooper class="slider" :settings="hooperSettings">
    <slide v-for="(foto, index) in fotos" :key="index">
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/cheirar/' + index + '.jpg')" alt="foto polaroide" />
            <figcaption>{{foto}}</figcaption>
        </figure>
      </article>
    </slide>
    <hooper-navigation slot="hooper-addons"></hooper-navigation>
    <hooper-pagination slot="hooper-addons"></hooper-pagination>
</hooper>
</template>

<script>
  import {
    Hooper,
    Slide,
    Pagination as HooperPagination,
    Navigation as HooperNavigation
    } from 'hooper';
  import 'hooper/dist/hooper.css';

  export default {
    name: 'Receitas',
    components: {
      Hooper,
      Slide,
      HooperPagination,
      HooperNavigation
    },
    data() {
      return {
        fotos: [
          'Barco do pai de Lisena Montanaro em Polignano A’Mare, na Itália',
          'Mammas e as receitas tradicionais da Festa de São Vito, Brás',
          'Polignano A’Mare está localizado na província de Bari',
          'San Vito é o padroeiro de Polignano e do bairro do Brás ',
          'Lisena na adolescência',
          'Jefferson, venezuelano, saiu de seu país natal em fevereiro de 2019 e veio para o Brasil em busca de melhores condições',
          'Sua esposa e seus três filhos vieram para o Brasil após Jefferson ter se instalado',
          'Jefferson é advogado na Venezuela e atuava no ramo político',
          'Jefferson e sua esposa',
          'A Venezuela passa pela pior crise política e socioeconômica de sua história. De acordo com a Organização Internacional das Migrações (OIM) e a Agência das Nações Unidas para os Refugiados (ACNUR), o número de venezuelanos que deixaram o país ultrapassa os quatro milhões',
          'O narguilé é originário do Oriente Médio',
          'Além dos restaurantes, que disponibilizam o narguilé para os seus frequentadores, o mesmo é tradicional nas reuniões familiares',
          'Sul do Líbano',
          'Família de Fatma Abbas no Líbano',
          'O tabule é um dos pratos tradicionais libaneses. Em sua composição, além dos temperos - pimenta e hortelã - o triguilho é utilizado',
          'O homus é uma pasta árabe de grão-de-bico. Geralmente é acompanhado do famoso pão sírio',
          'Pratos da culinária árabe',
          'Fatma Abbas, seu marido e filho',
          'Fatma Abbas em Balneário Camboriú'
        ],
        hooperSettings: {
          infiniteScroll: true
        }
      }
    }
  }
</script>

<style scoped>
/* notepad Effect */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');

.slider article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.polaroid
{
    background: white;
    display: table;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    transition: all .15s linear;
    z-index:0;
    position:relative;
    width: 1px;
}
.polaroid figcaption {
    display: table-row;
    color: #000;
    font-size: 3.5vh;
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
}
.polaroid img {
    display: table-row;
    width: inherit;
    max-width: 50vw;
    max-height: 75vh;
    width: auto;
}

h2 {margin: 0; font-size: 4vh;}
p {
  text-align: left;
    color: #333;
    margin: 0 0 5px 0;
}
p.highlight {font-size: 3vh; text-decoration: underline; margin: 25px 0;}
ul {
    color: #333;
    column-count: 2;
    margin: 0 0 5px 0;
}


/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.slider {
  width: 100%;
	height: 100%; /* Or set a fixed height */
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
  background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #038ecf 0, #51cbf1 30%, #7ff9ff 50%, #51cbf1 70%, #038ecf 100%);
}

.slider >>> .icon {
  fill: #000;
  width: 50px;
  height: 50px;
}

.slider >>> .hooper-indicator {
  border: 2px solid #000;
}

.slider >>> .hooper-indicator.is-active {
  width: 5vw;
}

.slider >>> .hooper-indicator:hover, .slider >>> .hooper-indicator.is-active {
  background-color: #000;
}

.slider >>> .hooper-slide:nth-child(1n) {transform: rotate(5deg);}
.slider >>> .hooper-slide:nth-child(2n) {transform: rotate(-2deg);}
.slider >>> .hooper-slide:nth-child(3n) {transform: rotate(3deg);}
.slider >>> .hooper-slide:nth-child(4n) {transform: rotate(-1deg);}
.slider >>> .hooper-slide:nth-child(5n) {transform: rotate(4deg);}
.slider >>> .hooper-slide:nth-child(6n) {transform: rotate(-5deg);}
.slider >>> .hooper-slide:nth-child(7n) {transform: rotate(1deg);}
.slider >>> .hooper-slide:nth-child(8n) {transform: rotate(-3deg);}
.slider >>> .hooper-slide:nth-child(9n) {transform: rotate(2deg);}
.slider >>> .hooper-slide:nth-child(10n) {transform: rotate(-4deg);}

</style>
