<template>
  <hooper class="slider" :settings="hooperSettings">
    <slide>
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/Fotos/1.jpeg')" alt="foto polaroide" />
            <figcaption>Nelma Sumbi, 22 anos, nascida na Angola e comerciante no bairro do Brás -- seja de dia ou na feirinha da madrugada.</figcaption>
        </figure>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/Fotos/2.jpeg')" alt="foto polaroide" />
            <figcaption>Alberto, nascido na Bolívia e residente no Brasil desde 1962. Sua paixão é fotografar festas, comemorações e momentos que relembram o seu país de origem. </figcaption>
        </figure>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/Fotos/3.jpeg')" alt="foto polaroide" />
            <figcaption>Fatma Abas, 30 anos, comerciante. Libanesa, na Angola ampliou seus conhecimentos e no Brasil floresceu. Hoje é mãe de dois filhos.</figcaption>
        </figure>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/Fotos/4.jpeg')" alt="foto polaroide" />
            <figcaption>Oleida Tamaroles, 50 anos. Venezuelana, veio ao Brasil em função da escassez e baixa remuneração - motivos que impulsionam o deslocamento de mais de 3 milhões de venezuelanos pelo mundo.</figcaption>
        </figure>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/Fotos/5.jpeg')" alt="foto polaroide" />
            <figcaption>Ambrosio Gomes, 41 anos. Pedreiro e nascido na Guiné Bissau, é um dos 200 imigrantes abrigados na Casa de Acolhida do Pari - Missão Scalabriniana.</figcaption>
        </figure>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/Fotos/6.jpeg')" alt="foto polaroide" />
            <figcaption>Sandra Calcina, 20 anos, chilena. Foi escravizada durante 1 mês, em uma fábrica de costura, enquanto sua filha Maya ficava trancada em um quarto.</figcaption>
        </figure>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/Fotos/7.jpeg')" alt="foto polaroide" />
            <figcaption>Kim Chang, 50 anos, coreano. Veio para o Brasil buscar estabilidade financeira por meio da tecelagem, mas há 20 anos deixou o comércio para seguir um chamado de fé.</figcaption>
        </figure>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/Fotos/8.jpeg')" alt="foto polaroide" />
            <figcaption>Bouchra Chahbi, 51 anos, marroquina. Além do Brasil, já viajou por boa parte do norte da África, Argélia, Egito, Arábia, Saldita e Omã buscando melhores condições de vida.</figcaption>
        </figure>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/Fotos/9.jpeg')" alt="foto polaroide" />
            <figcaption>Facundo Alvarez, 27 anos, argentino. Fez do farol sua principal renda de sobrevivência. Artista, andante e sonhador.</figcaption>
        </figure>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid">
            <img :src="require('@/assets/Fotos/10.jpeg')" alt="foto polaroide" />
            <figcaption>Juão Velasquéz, 33 anos, boliviano. Sempre atento à súmula, não deixa um lance passar despercebido no placar. E o país do futebol segue ganhando pontos com tanta pluralidade cultural!</figcaption>
        </figure>
      </article>
    </slide>
    <hooper-navigation slot="hooper-addons"></hooper-navigation>
    <hooper-pagination slot="hooper-addons"></hooper-pagination>
</hooper>
</template>

<script>
  import {
    Hooper,
    Slide,
    Pagination as HooperPagination,
    Navigation as HooperNavigation
    } from 'hooper';
  import 'hooper/dist/hooper.css';

  export default {
    name: 'Receitas',
    components: {
      Hooper,
      Slide,
      HooperPagination,
      HooperNavigation
    },
    data() {
      return {
        hooperSettings: {
          infiniteScroll: true
        }
      }
    }
  }
</script>

<style scoped>
/* notepad Effect */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');

.slider article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.polaroid
{
    background: white;
    display: table;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    transition: all .15s linear;
    z-index:0;
    position:relative;
    width: 1px;
}
.polaroid figcaption {
    display: table-row;
    color: #000;
    font-size: 3.5vh;
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
}
.polaroid img {
    display: table-row;
    width: inherit;
    max-width: 50vw;
    max-height: 60vh;
    width: auto;
}

h2 {margin: 0; font-size: 4vh;}
p {
  text-align: left;
    color: #333;
    margin: 0 0 5px 0;
}
p.highlight {font-size: 3vh; text-decoration: underline; margin: 25px 0;}
ul {
    color: #333;
    column-count: 2;
    margin: 0 0 5px 0;
}


/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.slider {
  width: 100%;
	height: 100%; /* Or set a fixed height */
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
  background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #9dc705 0, #cbf533 30%, #f9ff61 50%, #cbf533 70%, #9dc705 100%);
}

.slider >>> .icon {
  fill: #000;
  width: 50px;
  height: 50px;
}


.slider >>> .hooper-indicator {
  border: 2px solid #000;
}

.slider >>> .hooper-indicator.is-active {
  width: 5vw;
}

.slider >>> .hooper-indicator:hover, .slider >>> .hooper-indicator.is-active {
  background-color: #000;
}

.slider >>> .hooper-slide:nth-child(1n) {transform: rotate(5deg);}
.slider >>> .hooper-slide:nth-child(2n) {transform: rotate(-2deg);}
.slider >>> .hooper-slide:nth-child(3n) {transform: rotate(3deg);}
.slider >>> .hooper-slide:nth-child(4n) {transform: rotate(-1deg);}
.slider >>> .hooper-slide:nth-child(5n) {transform: rotate(4deg);}
.slider >>> .hooper-slide:nth-child(6n) {transform: rotate(-5deg);}
.slider >>> .hooper-slide:nth-child(7n) {transform: rotate(1deg);}
.slider >>> .hooper-slide:nth-child(8n) {transform: rotate(-3deg);}
.slider >>> .hooper-slide:nth-child(9n) {transform: rotate(2deg);}
.slider >>> .hooper-slide:nth-child(10n) {transform: rotate(-4deg);}

</style>
