<template>
  <div class="CSSgal">

  <!-- Don't wrap targets in parent -->
  <s id="s1"></s>
  <s id="s2"></s>
  <s id="s3"></s>
  <s id="s4"></s>
  <s id="s5"></s>
  <s id="s6"></s>
  <s id="s7"></s>
  <s id="s8"></s>
  <s id="s9"></s>
  <s id="s10"></s>

  <div class="slider">
    <section>
      <article>
        <div class="polaroid">
            <img :src="require('@/assets/Fotos/1.jpeg')" alt="teste" />
            <caption>Nelma Sumbi, 22 anos, nascida na Angola e comerciante no bairro do Brás -- seja de dia ou na feirinha da madrugada.</caption>
        </div>
      </article>
    </section>

    <section>
      <article>
        <div class="polaroid">
            <img :src="require('@/assets/Fotos/2.jpeg')" alt="teste" />
            <caption>Alberto, nascido na Bolívia e residente no Brasil desde 1962. Sua paixão é fotografar festas, comemorações e momentos que relembram o seu país de origem. </caption>
        </div>
      </article>
    </section>

    <section>
      <article>
        <div class="polaroid">
            <img :src="require('@/assets/Fotos/3.jpeg')" alt="teste" />
            <caption>Fatma Abas, 30 anos, comerciante. Libanesa, na Angola ampliou seus conhecimentos e no Brasil floresceu. Hoje é mãe de dois filhos.</caption>
        </div>
      </article>
    </section>

    <section>
      <article>
        <div class="polaroid">
            <img :src="require('@/assets/Fotos/4.jpeg')" alt="teste" />
            <caption>Oleida Tamaroles, 50 anos. Venezuelana, veio ao Brasil em função da escassez e baixa remuneração - motivos que impulsionam o deslocamento de mais de 3 milhões de venezuelanos pelo mundo.</caption>
        </div>
      </article>
    </section>

    <section>
      <article>
        <div class="polaroid">
            <img :src="require('@/assets/Fotos/5.jpeg')" alt="teste" />
            <caption>Ambrosio Gomes, 41 anos. Pedreiro e nascido na Guiné Bissau, é um dos 200 imigrantes abrigados na Casa de Acolhida do Pari - Missão Scalabriniana.</caption>
        </div>
      </article>
    </section>

    <section>
      <article>
        <div class="polaroid">
            <img :src="require('@/assets/Fotos/6.jpeg')" alt="teste" />
            <caption>Sandra Calcina, 20 anos, chilena. Foi escravizada durante 1 mês, em uma fábrica de costura, enquanto sua filha Maya ficava trancada em um quarto.</caption>
        </div>
      </article>
    </section>

    <section>
      <article>
        <div class="polaroid">
            <img :src="require('@/assets/Fotos/7.jpeg')" alt="teste" />
            <caption>Kim Chang, 50 anos, coreano. Veio para o Brasil buscar estabilidade financeira por meio da tecelagem, mas há 20 anos deixou o comércio para seguir um chamado de fé.</caption>
        </div>
      </article>
    </section>

    <section>
      <article>
        <div class="polaroid">
            <img :src="require('@/assets/Fotos/8.jpeg')" alt="teste" />
            <caption>Bouchra Chahbi, 51 anos, marroquina. Além do Brasil, já viajou por boa parte do norte da África, Argélia, Egito, Arábia, Saldita e Omã buscando melhores condições de vida.</caption>
        </div>
      </article>
    </section>

    <section>
      <article>
        <div class="polaroid">
            <img :src="require('@/assets/Fotos/9.jpeg')" alt="teste" />
            <caption>Facundo Alvarez, 27 anos, argentino. Fez do farol sua principal renda de sobrevivência. Artista, andante e sonhador.</caption>
        </div>
      </article>
    </section>

    <section>
      <article>
        <div class="polaroid">
            <img :src="require('@/assets/Fotos/10.jpeg')" alt="teste" />
            <caption>Juão Velasquéz, 33 anos, boliviano. Sempre atento à súmula, não deixa um lance passar despercebido no placar. E o país do futebol segue ganhando pontos com tanta pluralidade cultural!</caption>
        </div>
      </article>
    </section>
  </div>

  <div class="prevNext">
    <div><a href="#s10">&lt;</a><a href="#s2">&gt;</a></div>
    <div><a href="#s1">&lt;</a><a href="#s3">&gt;</a></div>
    <div><a href="#s2">&lt;</a><a href="#s4">&gt;</a></div>
    <div><a href="#s3">&lt;</a><a href="#s5">&gt;</a></div>
    <div><a href="#s4">&lt;</a><a href="#s6">&gt;</a></div>
    <div><a href="#s5">&lt;</a><a href="#s7">&gt;</a></div>
    <div><a href="#s6">&lt;</a><a href="#s8">&gt;</a></div>
    <div><a href="#s7">&lt;</a><a href="#s9">&gt;</a></div>
    <div><a href="#s8">&lt;</a><a href="#s10">&gt;</a></div>
    <div><a href="#s9">&lt;</a><a href="#s1">&gt;</a></div>
  </div>

  <div class="bullets">
    <a href="#s1">1</a>
    <a href="#s2">2</a>
    <a href="#s3">3</a>
    <a href="#s4">4</a>
    <a href="#s5">5</a>
    <a href="#s6">6</a>
    <a href="#s7">7</a>
    <a href="#s8">8</a>
    <a href="#s9">9</a>
    <a href="#s10">10</a>
  </div>

</div>
</template>

<style scoped>
/* Polaroid Effect */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');

.slider section article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.polaroid
{
    background: white;
    display: block;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    transition: all .15s linear;
    z-index:0;
    position:relative;
}

.polaroid caption {
    color: #000;
    font-size: 2rem;
    position: relative;
    top:10px;
    width: 100%;
    font-family: 'Amatic SC', cursive;
}

.polaroid img {
    display: block;
    width: inherit;
    max-width: 30vw
}

.slider section:nth-child(1) {transform: rotate(5deg);}
.slider section:nth-child(2) {transform: rotate(-2deg);}
.slider section:nth-child(3) {transform: rotate(3deg);}
.slider section:nth-child(4) {transform: rotate(-1deg);}
.slider section:nth-child(5) {transform: rotate(4deg);}
.slider section:nth-child(6) {transform: rotate(-5deg);}
.slider section:nth-child(7) {transform: rotate(1deg);}
.slider section:nth-child(8) {transform: rotate(-3deg);}
.slider section:nth-child(9) {transform: rotate(2deg);}
.slider section:nth-child(10) {transform: rotate(-4deg);}


/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
  background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #9dc705 0, #cbf533 30%, #f9ff61 50%, #cbf533 70%, #9dc705 100%);
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 9;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: #000;
  color: #666;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(0, 0, 0, 1);
	-webkit-transition: 0.3s;
	transition: 0.3s;
  font-size: .8rem;
  border: 3px solid rgba(0, 0, 0, 0.5);
}
.CSSgal .bullets > a+a {
	background: rgba(0, 0, 0, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(0, 0, 0, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(0, 0, 0, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(0, 0, 0,   1); color: #666;}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(0, 0, 0,   1); color: #666;}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(0, 0, 0,   1); color: #666;}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(0, 0, 0,   1); color: #666;}
#s5:target ~ .bullets >*:nth-child(5) {background: rgba(0, 0, 0,   1); color: #666;}
#s6:target ~ .bullets >*:nth-child(6) {background: rgba(0, 0, 0,   1); color: #666;}
#s7:target ~ .bullets >*:nth-child(7) {background: rgba(0, 0, 0,   1); color: #666;}
#s8:target ~ .bullets >*:nth-child(8) {background: rgba(0, 0, 0,   1); color: #666;}
#s9:target ~ .bullets >*:nth-child(9) {background: rgba(0, 0, 0,   1); color: #666;}
#s10:target ~ .bullets >*:nth-child(10) {background: rgba(0, 0, 0,   1); color: #666;}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
#s7:target ~ .prevNext >*:nth-child(7) {visibility: visible;}
#s8:target ~ .prevNext >*:nth-child(8) {visibility: visible;}
#s9:target ~ .prevNext >*:nth-child(9) {visibility: visible;}
#s10:target ~ .prevNext >*:nth-child(10) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#s6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
#s7:target ~ .slider {transform: translateX(-600%); -webkit-transform: translateX(-600%);}
#s8:target ~ .slider {transform: translateX(-700%); -webkit-transform: translateX(-700%);}
#s9:target ~ .slider {transform: translateX(-800%); -webkit-transform: translateX(-800%);}
#s10:target ~ .slider {transform: translateX(-900%); -webkit-transform: translateX(-900%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER!
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #fff;
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}
</style>
