<template>
  <div class="quizz">
    <div :class="{'question':true, 'show':pannel==0, 'hide':pannel>0}">
      <div class="pannel">
        <h2>Olá! Você assistiu aos episódios até aqui e já teve um pouco de contato com alguns assuntos sobre a imigração. Agora chegou a hora de você provar seus conhecimentos e colocar a mão na massa. Preparado? Então vamos lá!</h2>
        <div class="but">
          <button class="learn-more opening" @click="next">
            <span class="circle">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Começar</span>
          </button>
        </div>
      </div>
    </div>
    <div v-for="(question, index) in questions" :key="index" :class="{'question':true, 'show':pannel==index+1, 'hide':pannel>index+1}">
      <div class="pannel">
        <h1>{{ question.title }}</h1>
        <ul>
          <li v-for="(pergunta, indice) in question.perguntas" :key="index+1 + indice">
              <input type="radio" :name="index" :id="'id' + index + indice" :class="{'correct':indice == question.acerto}" @click="scoring(indice == question.acerto? 1 : 0)"><label :for="'id' + index + indice">{{pergunta}}</label>
          </li>
        </ul>
        <div class="but">
          <button class="learn-more opening" @click="next">
            <span class="circle">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">pular</span>
          </button>
        </div>
      </div>
    </div>
    <div :class="{'question':true, 'show':pannel==6, 'hide':pannel>6}">
      <div class="pannel">
        <img v-if="score > 2" class="premio" :src="require('@/assets/award.svg')" alt="vitória!" />
        <h1>Resultado</h1>
        <h2>Você acertou {{ score }} perguntas.</h2>
        <p v-if="score <= 2">
          Você sabe que a imigração é um processo importante para São Paulo, mas ainda não teve acesso à dados e detalhes sobre o assunto. Que bom te ter aqui, assim podemos aprender juntos! Se você quiser pesquisar mais informações indicamos os sites da ONU e ACNUR.
        </p>
        <p v-else>
          Parabéns! Você já tem bastante conhecimento sobre o assunto. Porém, o tema imigração é constantemente colocado em pauta e sempre precisa de atenção. Sendo assim, você pode continuar pesquisando mais detalhes em sites de órgãos como ONU e ACNUR.
        </p>
        <div class="but">
          <button class="learn-more" @click="but">
            <span class="circle">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Refazer teste</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Quizz',
    data() {
      return {
        pannel: 0,
        score: 0,
        questions: [
          {title: 'Qual a maior comunidade estrangeira que vive em SP?',
           perguntas: ['Bolivianos','Portugueses','Japoneses','Italianos','Haitianos'],
           acerto: 0
          },
          {title: 'Entre 2001 e 2017 quantos estrangeiros mudaram para São Paulo?',
           perguntas: ['50.562','110.672','150.060','208.090','292.288'],
           acerto: 4
          },
          {title: 'Qual bairro paulistano contém mais aspectos da imigração italiana?',
           perguntas: ['Bixiga','Mooca','Liberdade','Brás','Moema'],
           acerto: 1
          },
          {title: 'Quantos imigrantes vivem em São Paulo?',
           perguntas: ['Mais de 500 mil','Mais de 538 mil','Mais de 560 mil','Mais de 678 mil','Mais de 769 mil'],
           acerto: 1
          },
          {title: 'Em que ano foi sancionada a nova lei da imigração?',
           perguntas: ['2019','2018','2017','2016','2014'],
           acerto: 2
          },
        ]
      }
    },
    methods: {
      next() {
        this.pannel ++
      },
      scoring(value) {
        this.score += value
        this.pannel ++
      },
      but() {
        this.score = 0
        this.pannel = 0
      },
    }
  }
</script>

<style scoped>
  .quizz {
    width: 100%;
    height: 100%; /* Or set a fixed height */
    background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #454425 0, #666537 30%, #888549 50%, #a7a55c 70%, #b9b77d 100%);
  }
  .question {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: all .5s ease .5s;
  }
  .show {transform: translateX(0);}
  .hide {transform: translateX(-100%);}

  .pannel {
    position: relative;
    padding: 5%;
    width: 45%;
    height: 70%;
    background: #fff;
    border-radius: 2px;
  }

  .pannel::before,
  .pannel::after {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgba(0,0,0,.7);
    z-index: -1;
    transition: all .3s ease-in-out;
  }

  .pannel::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
  }

  .pannel::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
  }

  .but {position: absolute; bottom: 5%; right: 5%;}

  ul, p {list-style: none; text-align: left; font-size: 2vh;}
  h1 {font-size: 5vh; margin: 0 0 3vh 0;}
  h2 {font-size: 3.55vh; margin: 0 0 3vh 0;}

  ul{
    position: absolute;
    z-index: 99;}

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 2.3vh;
    font-family: inherit;
  }
  button.learn-more {
    width:27vh;
    height: auto;
  }
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 6.5vh;
    height: 6.5vh;
    background: #282936;
    border-radius: 3.25vh;
  }
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 2.5vh;
    width: 3vh;
    height: .5vh;
    background: none;
  }
  button.learn-more.opening .circle .icon.arrow { left: auto; right: 2.5vh;}
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -.5vh;
    left: .2vh;
    width: 1.3vh;
    height: 1.3vh;
    border-bottom: 0.5vh solid #fff;
    border-left: 0.5vh solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  button.learn-more.opening .circle .icon.arrow::before {
    border-bottom: 0; border-left: 0;
    border-top: 0.5vh solid #fff;
    border-right: 0.5vh solid #fff;
    left: auto; right: 0;
  }

  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.5vh 0;
    margin: 0 0 0 5vh;
    color: #282936;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  button.learn-more.opening .button-text { margin: 0;}
  button:hover .circle {
    width: 100%;
  }
  button:hover .button-text {
    color: #fff;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: 99;
  }

  label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #000;
    border-radius: .25em;
    z-index: -1;
  }

  input[type="radio"] + label::before {
    border-radius: 1em;
  }

  /* Checked */
  input[type="radio"]:checked + label {
    padding-left: 1em;
  }
  input[type="radio"]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    border: 0;
    background: #c8383d;
  }
  input[type="radio"].correct:checked + label:before { background: #5e9925; }

  /* Transition */
  label,
  label::before {
    transition: .25s all ease;
  }

  .premio {
    position: absolute;
    top: -8%;
    right: -8%;
    width: 30%;
    height: auto;
    transform: rotate(15deg);
  }

</style>
