<template>
  <hooper class="slider" :settings="hooperSettings">
    <slide>
      <article>
            <figure class="polaroid esfiha">
                <img :src="require('@/assets/Paladar/esfiha.jpg')" alt="foto polaroide de uma bandeja de esfihas" />
                <figcaption></figcaption>
            </figure>
            <div class="notepad" style="transform: rotate(5deg)">
              <h2>Esfiha Árabe</h2>
              <p class="highlight">INGREDIENTES</p>
              <p>
                <ul>
                  <li>100g de fermento biológico fresco ou 2 colheres (sopa) de fermento biológico instantâneo</li>
                  <li>2 colheres (sopa) de açúcar</li>
                  <li>1 colher (sopa) de sal</li>
                  <li>1 xícara (chá) de óleo</li>
                  <li>2 e 1/2 xícara (chá) de água morna</li>
                  <li>1 kg de farinha de trigo, aproximadamente</li>
                  <li>1/2 xícara (chá) de óleo</li>
                  <li>1 kg de coxão mole moído</li>
                  <li>2 cebolas grandes</li>
                  <li>3 tomates grandes</li>
                  <li>Sal e pimenta-do-reino a gosto</li>
                  <li>2 colheres (chá) de pimenta síria</li>
                  <li>3 colheres (sopa) de tahine (pasta de gergelim)</li>
                  <li>3/4 de xícara (chá) de iogurte natural</li>
                  <li>2 colheres (sopa) de concentrado de romã (opcional)</li>
                  <li>1 xícara (chá) de fubá</li>
                  <li>1 xícara (chá) de farinha de trigo</li>
                  <li>Óleo para untar as assadeiras</li>
                </ul>
              </p>
          </div>
          <div class="notepad" style="transform: rotate(-2deg)">
            <p class="highlight">MODO DE PREPARO</p>
            <p>Bata no liquidificador o fermento, açúcar, sal, óleo e água</p>
            <p>Coloque em uma vasilha e adicione a farinha de trigo, aos poucos, misturando e amassando até obter uma massa lisa, macia e homogênea</p>
            <p>Faça bolinhas e deixe descansar sobre uma superfície enfarinhada</p>
            <p>Cubra com plástico até dobrar de volume, mais ou menos, 20 minutos. Enquanto isso faça o recheio</p>
            <p>Leve ao fogo a carne com o óleo e mexa até a carne ficar rosada</p>
            <p>Tire do fogo e escorra o líquido que ficou na panela</p>
            <p>Coloque a carne em uma vasilha e adicione o restante dos ingredientes</p>
            <p>Misture até ficar homogêneo</p>
            <p>Pré-aqueça o forno em temperatura máxima, unte uma assadeira com óleo</p>
            <p>Misture a xícara de fubá e a de farinha em um prato. Depois passe as bolinhas de massa na farinha, abra em discos e arrume na assadeira</p>
            <p>Pegue uma porção do recheio e espalhe por cima do disco de massa, deixando uma beiradinha</p>
            <p>Leve para assar até dourar, por mais ou menos 15 minutos, dependendo da temperatura do forno</p>
            <p>Sirva com fatias de limão, molho de pimenta e uma boa salada de pepino com coalhada</p>
          </div>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid risoto">
            <img :src="require('@/assets/Paladar/risoto.jpg')" alt="foto polaroide de um risoto"/>
            <figcaption></figcaption>
        </figure>
        <div class="notepad" style="transform: rotate(-3deg)">
          <h2>Risoto Imigrante</h2>
          <p class="highlight">INGREDIENTES</p>
          <p>
            <ul>
              <li>80g arroz agulhinha</li>
              <li>20g frango</li>
              <li>1 costelinha de porco</li>
              <li>140g creme de abóbora com legumes</li>
              <li>40g de manteiga</li>
              <li>30g de queijo meia cura</li>
              <li>Palmito</li>
              <li>Ervilha</li>
              <li>Cenoura caramelizada</li>
              <li>Cebola</li>
              <li>Ovo</li>
              <li>Flor de Sal</li>
              <li>Limão Cravo</li>
            </ul>
          </p>
        </div><div class="notepad" style="transform: rotate(-10deg)">
          <p class="highlight">MODO DE PREPARO</p>
          <p>Em uma panela, coloque o arroz agulhinha cozido, adicione o creme de abobora com legumes e o frango assado.</p>
          <p>Acrescente 60ml de caldo de legumes e leve ao fogo.</p>
          <p>Mexa bem até que tudo se incorpore na panela</p>
          <p>Deixe cozinhar por mais ou menos 3 minutos.</p>
          <p>Coloque a costela, a cenoura caramelizada e a cebola grelhada no forno para aquecer.</p>
          <p>Aqueça o ovo de modo que ele fique mole e reserve.</p>
          <p>Adicione 40g de manteiga e 30g de queijo meia cura ralado </p>
          <p>Misture bem até que o queijo e a manteiga incorporem ao restante dos ingredientes, deixando-o com um aspecto cremoso</p>
          <p>Sirva em um prato fundo.</p>
          <p>Faça um buraco no risoto com o auxílio de uma colher, para acomodar o ovo.</p>
          <p>Coloque sobre o risoto a costelinha, a cenoura caramelizada e a cebola grelhada.</p>
          <p>Finalize com flor de sal e pimenta moída sobre o ovo, limão cravo e brotos de rúcula e mostarda roxa.</p>
        </div>
      </article>
    </slide>

    <slide>
      <article>
        <figure class="polaroid polenta">
            <img :src="require('@/assets/Paladar/polenta.jpg')" alt="foto polaroide da polenta"/>
            <figcaption></figcaption>
        </figure>
        <div class="notepad" style="transform: rotate(12deg)">
          <h2>Polenta frita com calabresa</h2>
          <p class="highlight">INGREDIENTES</p>
          <p>
            <ul>
              <li>1 kg de linguiça calabresa fresca</li>
              <li>4 dentes de alho</li>
              <li>2 colheres (sopa) de óleo</li>
              <li>1 xícara de vinho tinto</li>
              <li>3 tomates sem sementes picados</li>
              <li>4 folhas de louro</li>
              <li>1 xícara de Água</li>
              <li>1/2 colher (chá) de pimenta-calabresa sem sementes picada</li>
              <li>Sal a gosto</li>
            </ul>
          </p>
          <p class="highlight">MODO DE PREPARO</p>
          <p>Passe a linguiça pelo processador e reserve.</p>
          <p>Refogue o alho no óleo até começar a dourar.</p>
          <p>Junte a linguiça e frite até secar o líquido que se formar na panela.</p>
          <p>Junte o vinho e cozinhe até evaporar.</p>
          <p>Adicione o tomate, o louro e a água.</p>
          <p>Tampe e cozinhe por 15 minutos ou até obter um molho encorpado.</p>
          <p>Tempere com a pimenta e o sal. Reserve.</p>
        </div>
      </article>
    </slide>
    <hooper-navigation slot="hooper-addons"></hooper-navigation>
    <hooper-pagination slot="hooper-addons"></hooper-pagination>
</hooper>
</template>

<script>
  import {
    Hooper,
    Slide,
    Pagination as HooperPagination,
    Navigation as HooperNavigation
    } from 'hooper';
  import 'hooper/dist/hooper.css';

  export default {
    name: 'Receitas',
    components: {
      Hooper,
      Slide,
      HooperPagination,
      HooperNavigation
    },
    data() {
      return {
        hooperSettings: {
          infiniteScroll: true
        }
      }
    }
  }
</script>

<style scoped>
/* notepad Effect */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');

.slider article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.notepad {
    font-family: 'Amatic SC', cursive;
    font-size: 2.6vh;
    line-height: auto;
    background: #f6f6f6;
    box-shadow: 0 1px 4px hsla(0,0%,0%,.25);
    position: relative;
    width: 70vh;
    height: 90vh;
    background-image: radial-gradient(#e6e6e6 21%, transparent 21%),
                      radial-gradient(#e6e6e6 10%, transparent 12%),
                      linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,25%,50%,.1) 95%, hsla(180,25%,50%,.1) 100%);
    background-position: 6px 6px, 6px 5px, 50% 18px;
    background-repeat: repeat-y, repeat-y, repeat;
    background-size: 48px 48px, 48px 48px, 24px 24px;
    padding: 3vh 2vh 3vh 15vh;
}
.notepad:after {
    border-left: 1px solid hsla(0,75%,50%,.2);
    border-right: 1px solid hsla(0,75%,50%,.2);
    bottom: 0;
    content: '';
    left: 58px;
    position: absolute;
    top: 0;
    width: 2px;
}
h2 {margin: 0; font-size: 4vh;}
p {
  text-align: left;
    color: #333;
    margin: 0 0 .3vh 0;
}
p.highlight {font-size: 3vh; text-decoration: underline; margin: 2.5vh 0;}
ul {
    color: #333;
    column-count: 2;
    margin: 0 0 .5vh 0;
    padding: 3vh;
}


/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.slider {
  width: 100%;
	height: 100%; /* Or set a fixed height */
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
background-image: radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, #fff 30%, #fff 40%, transparent 90%), radial-gradient(ellipse farthest-corner at 0px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0px 8px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0px, transparent 0%, transparent 20%, #fff 15%, #fff 20%, transparent 50%), linear-gradient(40deg, #bd2d10 0, #f4502f 30%, #ff6e51 50%, #f4502f 70%, #bd2d10 100%);
}

.slider >>> .icon {
  fill: #000;
  width: 50px;
  height: 50px;
}

.slider >>> .hooper-indicator {
  border: 2px solid #000;
}

.slider >>> .hooper-indicator.is-active {
  width: 5vw;
}

.slider >>> .hooper-indicator:hover, .slider >>> .hooper-indicator.is-active {
  background-color: #000;
}

.polaroid
{
    background: white;
    display: table;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    transition: all .15s linear;
    z-index:0;
    position:absolute;
    width: 1px;
    z-index: 9
}
.polaroid figcaption {
    display: table-row;
    color: #000;
    font-size: 3.5vh;
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
}
.polaroid img {
    display: table-row;
    width: 100%;
}

.esfiha {
  width: 35vh;
  bottom: 0;
  left: 0;
  transform: rotate(30deg);
}
.risoto {
  width: 50vh;
  bottom: 5%;
  left: 15%;
  transform: rotate(-20deg);
}
.polenta {
  width: 50vh;
  bottom: 20%;
  right: 5%;
  transform: rotate(-15deg);
}

</style>
