<template>
  <div class="Cheirar">
    <Player class="player" ref="player"
                  :options="options"
                  @play="onReady"
                  @timeupdate="timeUpdate"
                  @ended="termino" />
      <figure v-for="(foto, index) in fotos" :key="index" :class="{'polaroid':true, 'show': marcador == index}">
          <img :src="require('@/assets/cheirar/' + index + '.jpg')" alt="foto polaroide" />
          <figcaption>{{ foto }}</figcaption>
      </figure>
  </div>
</template>

<script>
  import Player from '@/components/vimeo.vue'
  import { mapActions } from 'vuex'

  export default {
    name: 'Cheirar',
    data() {
      return {
          options: {id:373143090, color: '094160', autoplay: true, title: false, controls: true},
          playerReady: false,
          tempo: 0,
          marcador: 100,
          playing: false,
          fotos: [
            'Barco do pai de Lisena Montanaro em Polignano A’Mare, na Itália',
            'Mammas e as receitas tradicionais da Festa de São Vito, Brás',
            'Polignano A’Mare está localizado na província de Bari',
            'San Vito é o padroeiro de Polignano e do bairro do Brás ',
            'Lisena na adolescência',
            'Jefferson, venezuelano, saiu de seu país natal em fevereiro de 2019 e veio para o Brasil em busca de melhores condições',
            'Sua esposa e seus três filhos vieram para o Brasil após Jefferson ter se instalado',
            'Jefferson é advogado na Venezuela e atuava no ramo político',
            'Jefferson e sua esposa',
            'A Venezuela passa pela pior crise política e socioeconômica de sua história. De acordo com a Organização Internacional das Migrações (OIM) e a Agência das Nações Unidas para os Refugiados (ACNUR), o número de venezuelanos que deixaram o país ultrapassa os quatro milhões',
            'O narguilé é originário do Oriente Médio',
            'Além dos restaurantes, que disponibilizam o narguilé para os seus frequentadores, o mesmo é tradicional nas reuniões familiares',
            'Sul do Líbano',
            'Família de Fatma Abbas no Líbano',
            'O tabule é um dos pratos tradicionais libaneses. Em sua composição, além dos temperos - pimenta e hortelã - o triguilho é utilizado',
            'O homus é uma pasta árabe de grão-de-bico. Geralmente é acompanhado do famoso pão sírio',
            'Pratos da culinária árabe',
            'Fatma Abbas, seu marido e filho',
            'Fatma Abbas em Balneário Camboriú'
          ]
      }
    },
    components: {
      Player
    },
    methods: {
      ...mapActions(['checkout','closePass','closeLoad']),
        onReady() {
            this.playerReady = true
            this.closeLoad()
        },
        play () {
            this.$refs.player.play()
        },
        pause () {
            this.$refs.player.pause()
        },
        timeUpdate(time) {
          if(time.seconds > 21 && time.seconds < 26){ this.marcador = 0 }
          else if (time.seconds > 30 && time.seconds < 35) {this.marcador = 1}
          else if (time.seconds > 43 && time.seconds < 48) {this.marcador = 2}
          else if (time.seconds > 67 && time.seconds < 72) {this.marcador = 3}
          else if (time.seconds > 72 && time.seconds < 77) {this.marcador = 4}
          else if (time.seconds > 117 && time.seconds < 122) {this.marcador = 5}
          else if (time.seconds > 130 && time.seconds < 135) {this.marcador = 6}
          else if (time.seconds > 135 && time.seconds < 140) {this.marcador = 7}
          else if (time.seconds > 152 && time.seconds < 157) {this.marcador = 8}
          else if (time.seconds > 167 && time.seconds < 177) {this.marcador = 9}
          else if (time.seconds > 183 && time.seconds < 188) {this.marcador = 10}
          else if (time.seconds > 188 && time.seconds < 193) {this.marcador = 11}
          else if (time.seconds > 194 && time.seconds < 199) {this.marcador = 12}
          else if (time.seconds > 209 && time.seconds < 214) {this.marcador = 13}
          else if (time.seconds > 214 && time.seconds < 217) {this.marcador = 14}
          else if (time.seconds > 217 && time.seconds < 221) {this.marcador = 15}
          else if (time.seconds > 221 && time.seconds < 226) {this.marcador = 16}
          else if (time.seconds > 238 && time.seconds < 243) {this.marcador = 17}
          else if (time.seconds > 280 && time.seconds < 285) {this.marcador = 18}
          else { this.marcador = 100 }
        },
        termino(){
          this.checkout('cheirar')
          this.$router.push('/');
        }
    }
  }
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');

.Cheirar {
  position: relative;
  width: 100%;
  height: 100%;
}

.player, .player >>> iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
}

.polaroid {
  position:absolute;
  top: 0;
  left: 18%;
  transform: rotate(-5deg)translateY(-130%);

  display: table;
  background: white;
  margin: 0 15px 30px;
  padding: 10px 10px 25px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  transition: all .35s ease-in-out;
  z-index:6;
  width: 1px;
}
.polaroid:nth-child(3), .polaroid:nth-child(8), .polaroid:nth-child(10), .polaroid:nth-child(15)
{top: 20%; left: 0; transform: rotate(12deg)translateX(-200%)}
.polaroid:nth-child(4), .polaroid:nth-child(7), .polaroid:nth-child(13), .polaroid:nth-child(18)
{top: 0; left: 60%; transform: rotate(20deg)translateY(-130%)}
.polaroid:nth-child(6), .polaroid:nth-child(9), .polaroid:nth-child(12), .polaroid:nth-child(16)
{top: -5%; left: 100%; transform: rotate(-30deg)translate(100%, 0)}
.polaroid.show {transform: rotate(-5deg)translateY(-80%);}
.polaroid:nth-child(3).show, .polaroid:nth-child(8).show, .polaroid:nth-child(10).show, .polaroid:nth-child(15).show
{transform: rotate(12deg)translateX(-85%)}
.polaroid:nth-child(4).show, .polaroid:nth-child(7).show, .polaroid:nth-child(13).show, .polaroid:nth-child(18).show
{transform: rotate(20deg)translate(0, -90%) }
.polaroid:nth-child(6).show, .polaroid:nth-child(9).show, .polaroid:nth-child(12).show, .polaroid:nth-child(16).show
{transform: rotate(-30deg)}
.polaroid.show:hover {transform: rotate(2deg)translateY(0);}
.polaroid:nth-child(3).show:hover, .polaroid:nth-child(8).show:hover, .polaroid:nth-child(10).show:hover, .polaroid:nth-child(15).show:hover
{transform: rotate(7deg)translateX(0%) }
.polaroid:nth-child(4).show:hover, .polaroid:nth-child(7).show:hover, .polaroid:nth-child(13).show:hover, .polaroid:nth-child(18).show:hover
{transform: rotate(10deg)translate(0, 0)}
.polaroid:nth-child(6).show:hover, .polaroid:nth-child(9).show:hover, .polaroid:nth-child(12).show:hover, .polaroid:nth-child(16).show:hover
{transform: rotate(20deg)translate(-100%, 30%);}

.polaroid figcaption {
    display: table-row;
    color: #000;
    font-size: 3vh;
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
}
.polaroid img {
    display: table-row;
    width: inherit;
    max-width: 30vw;
    max-height: 40vh;
    width: auto;
}
</style>
