<template>
  <div class="home">
    <img v-if="this.$route.path == '/'" class="showticket" :src="require('@/assets/ticket.svg')" alt="Logotipo" />
    <router-link v-else class="menu" :to="'/'">
      <img class="ticket" :src="require('@/assets/ticket_logo.svg')" alt="Logotipo" />
    </router-link>
    <Navigation class="passaporte" />
    <Loading class="load" />
    <router-view/>
  </div>
</template>

<style scoped>
  .home {
    position: relative;
    width: 177vh;
    height: 56vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    background-color: #fff;
  }
  .passaporte, .menu, .showticket {
    z-index: 9999;
  }
  .load {
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 999;
  }
  .menu {
    position: absolute;
    top:0;
    left:2vw;
    width: 10vw;
    transition: all .5s ease-in-out;
    transform: translateY(-85%);
  }
  .menu:hover {transform: translateY(0);}

  .ticket {
    width: 100%;
    height: auto;
  }
  .showticket{
    position: absolute;
    top:0;
    left:2vw;
    width: 10vw;
  }
</style>

<script>
  // @ is an alias to /src
  import Navigation from '@/components/navigation.vue'
  import Loading from '@/components/loading.vue'

  export default {
    name: 'home',
    components: {
      Navigation, Loading
    },
  }
</script>
