<template>
  <div class="main">
    <Player class="player" ref="player"
                  :options="options"
                  @play="onReady" />
    <nav class="navigation">
      <router-link to="/tocar" class="sentido tocar" @click.native="checkin('tocar')">
        <img class="carimbo" :src="require('@/assets/Rosto/mao.svg')" alt="Tocar" />
        <div class="tooltip"><img :src="require('@/assets/Rosto/home_tocar.svg')" /></div>
      </router-link>
      <router-link to="/ver" class="sentido ver" @click.native="checkin('ver')">
        <img class="carimbo" :src="require('@/assets/Rosto/olho.svg')" alt="ver" />
        <div class="tooltip"><img :src="require('@/assets/Rosto/home_ver.svg')" /></div>
      </router-link>
      <router-link to="/ouvir" class="sentido ouvir" @click.native="checkin('ouvir')">
        <img class="carimbo" :src="require('@/assets/Rosto/orelha.svg')" alt="ouvir" />
        <div class="tooltip"><img :src="require('@/assets/Rosto/home_ouvir.svg')" /></div>
      </router-link>
      <router-link to="/saborear" class="sentido saborear" @click.native="checkin('saborear')">
        <img class="carimbo" :src="require('@/assets/Rosto/boca.svg')" alt="saborear" />
        <div class="tooltip"><img :src="require('@/assets/Rosto/home_saborear.svg')" /></div>
      </router-link>
      <router-link to="/cheirar" class="sentido cheirar" @click.native="checkin('cheirar')">
        <img class="carimbo" :src="require('@/assets/Rosto/nariz.svg')" alt="cheirar" />
        <div class="tooltip"><img :src="require('@/assets/Rosto/home_cheirar.svg')" /></div>
      </router-link>
    </nav>
  </div>
</template>
<script>
  import Player from '@/components/vimeo.vue'
  import { mapActions } from 'vuex'

  export default {
    name: 'Main',
    data() {
      return {
          options: {id:374297789, color: '094160', autoplay: true, title: false, controls: false, muted: true, loop: true},
          playerReady: false,
          tempo: 0,
          escolhido: false
      }
    },
    components: {
      Player
    },
    methods: {
      ...mapActions(['checkin','closePass','closeLoad']),
        onReady() {
            this.playerReady = true
            this.closeLoad()
        },
        play () {
            this.$refs.player.play()
        },
        pause () {
            this.$refs.player.pause()
        },
        termino(){
          this.checkout('tocar')
          this.$router.push('/');
        }
    }
  }
</script>

<style scoped>
.main {
  height: 100%;
  width: 100%;
}

.player, .player >>> iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
}

.navigation {
  z-index: 10;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.sentido {
  position: absolute;
  width: 20%; height: 30%;
  filter: grayscale(100%)brightness(500%); transition: all .25s ease-in-out;
}
.sentido:hover {filter: grayscale(0)brightness(100%);}
.carimbo {width: 60%; height: 60%;}
.tocar { top: 70%; left: 15%;}
.ver { top: 8%; right: 50%; transform: translateX(50%);}
.ouvir { top: 35%; left: 15%;}
.saborear { top: 70%; right: 15%;}
.cheirar { top: 35%; right: 15%;}

.tooltip {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  margin: auto;
  transition: all .25s ease-in-out;
}
.tooltip img { height: 30%; }
.sentido:hover .tooltip {visibility: visible; opacity: 1;}

.ver .titulo {transform: translate(-130%,-20%);}
.ouvir .titulo, .tocar .titulo {right: auto; left: 0; transform: translate(50%,-20%)}
.ouvir::after, .tocar::after {left: auto; right: 0; transform: translate(50%, 50%);}
</style>
