<template>
  <div class="Tocar">
    <div class="video">
      <Player class="player" ref="player"
                    :options="options"
                    @ready="onReady"
                    @ended="termino" />
    </div>
    <div class="close" @click="close">
      <div class="icon icon-expand"></div>
    </div>
    <div :class="{'escolha':true, 'hide':escolhido!==0}" :style="{ backgroundImage: 'url(' + require('@/assets/fone.svg') +')'}">
      <div @click="loadVideo(1)">
        <img class="fe" :src="require('@/assets/fe.gif')" @mouseover="playSound(audioFe)" @mouseleave="pauseSound(audioFe)" />
      </div>
      <div></div>
      <div @click="loadVideo(2)">
        <img class="musica" :src="require('@/assets/musica.gif')" @mouseover="playSound(audioMusica)" @mouseleave="pauseSound(audioMusica)" />
      </div>
    </div>
  </div>
</template>

<script>
  import Player from '@/components/vimeo.vue'
  import { mapGetters } from 'vuex'
  import { mapActions } from 'vuex'

  export default {
    name: 'Ouvir',
    data() {
      return {
          options: {id:373142892, color: '094160', autoplay: false, title: false, controls: true},
          playerReady: false,
          tempo: 0,
          escolhido: 0,
          audioFe: new Audio(require('@/assets/audio/fe.ogg')),
          audioMusica: new Audio(require('@/assets/audio/musica.ogg')),
      }
    },
    components: {
      Player
    },
    computed: mapGetters(['extras']),
    methods: {
      ...mapActions(['checkout','closePass','closeLoad']),
        onReady() {
            this.playerReady = true
            this.closeLoad()
        },
        play () {
            this.$refs.player.play()
        },
        pause () {
            this.$refs.player.pause()
        },
        loadVideo (number) {
          let vidId = number == 1? 373142677 : 373142892;
          this.$refs.player.loadVideo(vidId)
          this.escolhido = number
          this.$refs.player.play()
        },
        playSound (sound) {
            sound.play()
          },
        pauseSound (sound) {
            sound.pause()
        },
        close(){
          this.$refs.player.pause()
          this.escolhido = 0
        },
        termino(){
          this.checkout('ouvir' + this.escolhido)
          if(this.extras.ouvir1 && this.extras.ouvir2) {
            this.$router.push('/');
          } else {
            this.close();
          }
        }
    }
  }
</script>

<style scoped>
.player, .player >>> iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
}

.escolha {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  transition: all 1s ease-in-out;
  background-color: #f7de68;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.escolha div {}
.escolha img {
  height: 40vh;
  filter: grayscale(80%);
  transition: all .5s ease;
  border-radius: 50%;
}
.escolha img:hover { filter: none; }

.escolha .fe:hover {filter: grayscale(0%)brightness(150%);}

.close {
  position: absolute;
  top: 20px; right: 20px;
  z-index: 8;
}

.icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 20px;
  overflow: hidden;
}
.icon::before, .icon::after {
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.25s ease;
  border-radius: 30px;
}
.icon-expand::after {
  box-shadow: inset 0 0 0 5px #c8383d;
}
.icon-expand::before {
  box-shadow: inset 0 0 0 0 rgba(0,0,0,0);
  content: '×';
  color: #c8383d;
}
.icon-expand:hover::before {
  box-shadow: inset 0 0 0 60px #c8383d;
  color: #fff;
}


</style>
