<template>
  <div class="Saborear">
    <Player class="player" ref="player"
                  :options="options"
                  @play="onReady"
                  @timeupdate="timeUpdate"
                  @ended="termino" />

    <div :class="{'help-tip':true, 'show': marcador == 1}"><div class="tooltip">
        <p>Os bois utilizados para o consumo da carne são abatigos pelo método halal (degolados).</p>
    </div></div>
    <div :class="{'help-tip':true, 'show': marcador == 2}"><div class="tooltip">
        <p>A festa de San Gennaro existe há 46 anos. Começou com algumas barracas dentro do salão paroquial e hoje já se estende até as ruas vizinhas.</p>
    </div></div>
    <div :class="{'help-tip':true, 'show': marcador == 3}"><div class="tooltip">
        <p>O restaurante foi criado com inspiração nas histórias coletadas no Museu da Imigração, antiga Hospedaria do Brás.</p>
    </div></div>
  </div>
</template>

<script>
  import Player from '@/components/vimeo.vue'
  import { mapActions } from 'vuex'

  export default {
    name: 'Saborear',
    data() {
      return {
          options: {id:372189247, color: '094160', autoplay: true, title: false, controls: true},
          playerReady: false,
          tempo: 0,
          marcador: 0,
          playing: false
      }
    },
    components: {
      Player
    },
    methods: {
      ...mapActions(['checkout','closePass','closeLoad']),
        onReady() {
            this.playerReady = true
            this.closeLoad()
        },
        play () {
            this.$refs.player.play()
        },
        pause () {
            this.$refs.player.pause()
        },
        timeUpdate(time) {
          if(time.seconds > 26 && time.seconds < 36){
            this.marcador = 1;
          } else if(time.seconds > 120 && time.seconds < 130){
            this.marcador = 2;
          } else if(time.seconds > 225 && time.seconds < 235){
            this.marcador = 3;
          } else {
            this.marcador = 0;
          }
        },
        termino(){
          this.checkout('saborear')
          this.$router.push('/');
        }
    }
  }
</script>

<style scoped>
.player, .player >>> iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
}

.help-tip {
  display:flex;
  position:absolute;
  align-items: center;
  justify-content: center;
  top: 10%;
  transform: translateY(-50%);
  opacity: 0;
  right: -7vh;
  z-index: 99;
  transition: all 0.5s ease-in-out;
}
.show {
  opacity: 1;
  right: 5vw;
}
.tooltip{
    display:flex;
    position:relative;
    align-items: center;
    justify-content: center;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.25s ease;
}
.tooltip:hover {
  background-color: #fff;
}

.tooltip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
    transition: all 0.25s ease;
}
.tooltip:hover:before{
    color:#000;
}
.tooltip:hover p{
  visibility:visible; opacity:1;
}

.tooltip p{    /* The tooltip */
  position:absolute;
  min-width:200px;
  width:30vw;
  top: 0;
  right:100%;
  margin-right:20px;
  transform:translate(0, -50%);
  padding: 20px;
  color:#000;
  background-color:#fff;
  font-weight:normal;
  font-size:2.5vh;
  border-radius:8px;
  box-sizing:border-box;
  visibility:hidden; opacity:0; transition:opacity 0.5s;
}

.tooltip p:before{ /* The pointer of the tooltip */
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  right:0;
  top:50%;
  transform:translate(50%, -50%) rotate(-45deg);
  background-color:#fff;
}

.tooltip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
</style>
