<template>
  <div class="teste">
    <button v-for="(status, destino) in destinos" :key="destino + 'But'" @click="checkin(destino)">{{ destino }}</button>
    <p v-for="(status, destino) in destinos" :key="destino">{{ destino }} : {{ status }}</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapActions } from 'vuex'

export default {
  name: 'Teste',
  data() {
    return {

    }
  },
  computed: mapGetters(['destinos']),
  methods: {
    ...mapActions(['checkin'])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
