<template>
  <div class="tocar">
    <Player class="player" ref="player"
                  :options="options"
                  @play="onReady"
                  @ended="termino" />
  </div>
</template>
<script>
  import Player from '@/components/vimeo.vue'
  import { mapActions } from 'vuex'

  export default {
    name: 'Tocar',
    data() {
      return {
          options: {id:374240317, color: '094160', autoplay: true, title: false, controls: true},
          playerReady: false,
          tempo: 0,
          escolhido: false
      }
    },
    components: {
      Player
    },
    methods: {
      ...mapActions(['checkout','closePass','closeLoad']),
        onReady() {
            this.playerReady = true
            this.closeLoad()
        },
        play () {
            this.$refs.player.play()
        },
        pause () {
            this.$refs.player.pause()
        },
        termino(){
          this.checkout('tocar')
          this.$router.push('/');
        }
    }
  }
</script>

<style scoped>
.player, .player >>> iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
}
</style>
