<template>
  <div class="Ver">
    <Player class="player" ref="player"
    :options="options"
    @play="onReady"
    @pause="pauseAnimation"
    @timeupdate="timeUpdate"
    @ended="termino" />
    <div class="mapa">
      <svg version="1.1" id="Layer_1" ref="marcador" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 3076 3076" style="enable-background:new 0 0 3076 3076;" xml:space="preserve">
          <radialGradient id="gradient" class="bgradient" cx="1788.7692" cy="1216.1501" r="1855.1721" gradientUnits="userSpaceOnUse">
            <stop  offset=".9" style="stop-color:#FFFFFF"/>
            <stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
          </radialGradient>

           <mask id="gradient-mask">
             <circle class="mascara" cx="1788.8" cy="1216.2" r="1855.2"/>
           </mask>
           <g mask="url(#gradient-mask)">
             <Map class="bgMap" />
           </g>


                 <!-- Caminho -->
                   <path id="caminho" class="caminho" d="M2785.7,197.3L954.9,154.9c3.1,343.6-84.8,706.9-282.1,712.9l451.9,41c0,0,75.6-79.4,220.8,59.4
                   s227.9,125.8,227.9,125.8s-252.6-158.9-347.9,431.2c0,0,36.6-133.2,147.2-90.8c0,0-179.8,621.3,206.2,858.6
                   c0,0-40.1-822.5-104.7-936.7c0,0,7.7,137.1-60.9,176.2c0,0-48.9,217.1-175.1,217.8c0,0,271.8,21.3,258.4-126.1
                   c0,0,15.5,552.5,237.2,879.7s182,388.3,182,388.3"/>

              <!-- Animado -->
              <circle class="marcador" cx="" cy="" r="33">
                 <animateMotion dur="272s" repeatCount="1"
                          calcMode="linear"
                          keyPoints="0.136; 0.136; 0.2145; 0.2145; 0.3115; 0.3115; 0.3645; 0.3645; 0.425;  0.425; 0.5005; 0.5005; 0.5235; 0.5235; 0.635; 0.635; 0.745;  0.745; 0.767; 0.767; 0.803; 0.803; 0.841; 0.841;   1; 1"
                          keyTimes= "    0; 0.083;   0.086;   0.12;   0.14;  0.154;  0.168;  0.360;  0.38;  0.645;  0.66; 0.7425; 0.755;   0.789; 0.799;  0.83; 0.842; 0.8675; 0.874; 0.883;  0.89;  0.93; 0.937; 0.945; 0.955; 1">
                      <mpath xlink:href="#caminho"/>
                 </animateMotion>
                 <animate attributeName="fill-opacity" dur="272s" repeatCount="1"
                         calcMode="linear"
                         values=  "0;     0;    1;     1;     0; 0"
                         keyTimes="0; 0.008; 0.01; 0.988; 0.992; 1"/>
              </circle>


      </svg>
      <div class="tips">
        <div :class="{'tip': true, 'toggleAeroporto': true, 'showTip': tip == 'aeroporto'}">
          <div class="tooltip"><p>Aeroporto Internacional de Guarulhos</p></div>
        </div>
        <div :class="{'tip': true, 'toggleTiete': true, 'showTip': tip == 'tiete'}">
          <div class="tooltip"><p>Estação Portuguesa-Tiete</p></div>
        </div>
        <div :class="{'tip': true, 'toggleArmenia': true, 'showTip': tip == 'armenia'}">
          <div class="tooltip"><p>Estação Armênia</p></div>
        </div>
        <div :class="{'tip': true, 'toggleKantuta': true, 'showTip': tip == 'kantuta'}">
          <div class="tooltip"><p>Praça da Kantuta</p></div>
        </div>
        <div :class="{'tip': true, 'toggleAcolhida': true, 'showTip': tip == 'acolhida'}">
          <div class="tooltip"><p>Centro de Acolhida para Imigrantes</p></div>
        </div>
        <div :class="{'tip': true, 'toggleVautier': true, 'showTip': tip == 'vautier'}">
          <div class="tooltip"><p>Avenida Vautier</p></div>
        </div>
        <div :class="{'tip': true, 'togglePage': true, 'showTip': tip == 'page'}">
          <div class="tooltip"><p>Galeria Pagé</p></div>
        </div>
        <div :class="{'tip': true, 'toggleMadrugada': true, 'showTip': tip == 'madrugada'}">
          <div class="tooltip"><p>Feirinha da Madrugada</p></div>
        </div>
        <div :class="{'tip': true, 'toggleCoreana': true, 'showTip': tip == 'coreana'}">
          <div class="tooltip"><p>Igreja Presbiteriana Antioquia Coreana</p></div>
        </div>
        <div :class="{'tip': true, 'toggleIgreja': true, 'showTip': tip == 'igreja'}">
          <div class="tooltip"><p>Igreja Santo Antônio do Pari</p></div>
        </div>
        <div :class="{'tip': true, 'toggleMesquitaB': true, 'showTip': tip == 'mesquitab'}">
          <div class="tooltip"><p>Mesquita do Pari</p></div>
        </div>
        <div :class="{'tip': true, 'toggleMesquitaP': true, 'showTip': tip == 'mesquitap'}">
          <div class="tooltip"><p>Mesquita do Brás</p></div>
        </div>
        <div :class="{'tip': true, 'toggleMuseu': true, 'showTip': tip == 'museu'}">
          <div class="tooltip"><p>Museu da Imigração</p></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Player from '@/components/vimeo.vue'
  import Map from '@/components/extras/map.vue'
  import { mapActions } from 'vuex'

  export default {
    name: 'Ver',
    data() {
      return {
          options: {id: 372189324, color: '094160', autoplay: true, title: false, controls: true},
          playerReady: false,
          tempo: 0,
          playing: false,
          tip: ''
      }
    },
    components: {
      Map,
      Player
    },
    methods: {
      ...mapActions(['checkout','closePass','closeLoad']),
        onReady() {
            this.playerReady = true
            this.closeLoad()
            this.$refs.marcador.pauseAnimations()
        },
        play () {
            this.$refs.player.play()
        },
        pause () {
            this.$refs.player.pause()
        },
        timeUpdate(time) {
          this.$refs.marcador.setCurrentTime(time.seconds);
          this.$refs.marcador.unpauseAnimations();
          this.toggleTip(time.seconds);
        },
        updateTime(time) {
          this.$refs.player.setCurrentTime(time);
        },
        pauseAnimation() {
          this.$refs.marcador.pauseAnimations()
        },
        toggleTip(time) {
          if(time > 2 && time < 22){ this.tip = 'aeroporto' }
          else if (time > 23 && time < 32.5) {this.tip = 'tiete'}
          else if (time > 38 && time < 42) {this.tip = 'armenia'}
          else if (time > 45.5 && time < 98) {this.tip = 'kantuta'}
          else if (time > 103 && time < 175.5) {this.tip = 'acolhida'}
          else if (time > 179 && time < 202) {this.tip = 'vautier'}
          else if (time > 205 && time < 214) {this.tip = 'page'}
          else if (time > 217 && time < 225.5) {this.tip = 'madrugada'}
          else if (time > 229 && time < 236) {this.tip = 'coreana'}
          else if (time > 238 && time < 240) {this.tip = 'igreja'}
          else if (time > 242.5 && time < 252) {this.tip = 'mesquitap'}
          else if (time > 254.5 && time < 257) {this.tip = 'mesquitab'}
          else if (time > 259 && time < 269) {this.tip = 'museu'}
          else { this.tip = '' }
        },
        termino(){
          this.checkout('ver')
          this.$router.push('/');
        }
      },
      mounted() {
        this.pauseAnimation()
      },
  }
</script>

<style scoped>
.player, .player >>> iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
}

.mapa {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 50%;
  height: 90%;
  z-index: 99;
  transform: translateX(35%);
  transition: all .5s ease-in-out;
}
.mapa:hover {transform: translateX(0);}

svg {
  position: absolute;
  right:0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.st0{fill:#000;}
.caminho {fill:rgba(0,0,0,0);}
.marcador{fill:#c8383e; fill-opacity:0;}

.mascara{
  fill:url(#gradient);
}

.bgMap, .tip {
  transition: all .5s ease-in-out;
  fill: rgba(255,255,255,.5)
}
.tip {
  position: absolute;
  width: 3vh;
  height:3vh;
  background-color: rgba(255,255,255,.5);
  border-radius: 50%;
}
.tip:hover{ background-color: rgba(255,255,255,1); }
.mapa:hover .bgMap {fill: rgba(255,255,255,1)}

.toggleAeroporto {top: 3%; left: 49%; width: 6.5vh; height: 6vh; background-color: rgba(0,0,0,0)}
.toggleTiete {top: 4.1%; left: 29.5%;}
.toggleArmenia {top: 26.9%; left: 20.2%;}
.toggleKantuta {top: 28.2%; left: 34.9%;}
.toggleAcolhida {top: 34.05%; left: 49.5%;}
.toggleVautier {top: 47.9%; left: 38.2%;}
.togglePage {top: 44.9%; left: 42.9%;}
.toggleMadrugada {bottom: 24.5%; left: 49.65%;}
.toggleCoreana {top: 42.5%; left: 46.2%;}
.toggleIgreja {top: 48%; left: 44.4%;}
.toggleMesquitaB {bottom: 45.6%; left: 47%;}
.toggleMesquitaP {bottom: 41.6%; left: 38.6%;}
.toggleMuseu {bottom: 5.1%; right: 36%;}

.tooltip{    /* The tooltip */
  position:absolute;
  right:100%;
  margin-top: 1.5vh;
  margin-right:20px;
  color:#000;
  background-color:#fff;
  font-weight:normal;
  font-size:2vh;
  padding: 0 2vh;
  border-radius:8px;
  box-sizing:border-box;
  visibility:hidden; opacity:0; transition:opacity 0.5s;
  z-index: 888;
  opacity: .5;
}
.toggleAeroporto .tooltip, .toggleAcolhida .tooltip, .togglePage .tooltip, .toggleCoreana .tooltip, .toggleIgreja .tooltip, .toggleMesquitaB .tooltip {
  right: auto;
  left:100%;
  margin-right:0;
  margin-left:20px;
}
.tip:hover .tooltip, .showTip .tooltip{
  visibility:visible;
}
.tip:hover .tooltip {
  opacity:1;
}

.tooltip:before{ /* The pointer of the tooltip */
  content:'';
  position:absolute;
  border-top: 3vh solid #fff;
  border-right: 3vh solid transparent;
  border-radius: .5vh 0 0 0px;
  right: -2vh;
  width: 0;
  height: 0;
  z-index: 999
}
.toggleAeroporto .tooltip::before, .toggleAcolhida .tooltip::before, .togglePage .tooltip::before, .toggleCoreana .tooltip::before, .toggleIgreja .tooltip::before, .toggleMesquitaB .tooltip::before {
  border-right: 0;
  border-left: 3vh solid transparent;
  right: auto;
  left: -2vh;
}
.tooltip:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

</style>
