<template>
  <transition name="fade">
    <div v-show="load" class="loading">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 780.6 927.2" style="enable-background:new 0 0 780.6 927.2;" xml:space="preserve">
        <g id="globo">
          <g>
            <g>
              <g>

                  <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -159.4298 393.8133)" class="st0" cx="395.7" cy="389.4" rx="305.2" ry="305.2"/>
              </g>
              <g>

                  <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -105.3066 332.7563)" class="st1" cx="349" cy="293.5" rx="197.5" ry="197.5"/>
              </g>
              <g>
                <path class="st2" d="M155.8,697.2c52.8,19.6,109,12.1,153.4-15.5c-15.5-49.9-53.1-92.4-105.9-112.1
                  c-52.8-19.6-109-12.1-153.4,15.5C65.4,635.1,103,677.6,155.8,697.2z"/>
              </g>
              <g>
                <path class="st3" d="M578.1,706.4c-92.1,34.3-190.3,21.2-267.8-27.1c27-87.2,92.7-161.3,184.8-195.6
                  c92.1-34.3,190.3-21.2,267.8,27.1C735.9,598,670.2,672.1,578.1,706.4z"/>
              </g>
              <g>
                <path class="st4" d="M659.6,166.3c-19.5,15-29.7,37.6-29.7,60.4c22.1,5.8,46.5,1.7,66-13.3c19.5-15,29.7-37.6,29.7-60.4
                  C703.5,147.2,679.1,151.3,659.6,166.3z"/>
              </g>
              <g>
                <path class="st5" d="M280.9,106.5c-6.2,34.2,4.5,67.5,26.1,91.4c28.6-14.8,50.3-42.3,56.5-76.5c6.2-34.2-4.5-67.5-26.1-91.4
                  C308.7,44.9,287.1,72.3,280.9,106.5z"/>
              </g>
              <g>
                <path class="st6 animate" d="M655.4,328.3c17.5,37.6,50.9,62.7,88.4,71.1c17.7-34.2,19.9-75.9,2.4-113.4c-17.5-37.6-50.9-62.7-88.4-71.1
                  C640.1,249,637.9,290.7,655.4,328.3z"/>
              </g>
              <g>
                <path class="st7" d="M535.3,118c-28.4,46.3-44.8,100.8-44.8,159.2c0,118.2,67.2,220.7,165.5,271.4
                  c28.4-46.3,44.8-100.8,44.8-159.2C700.8,271.1,633.6,168.6,535.3,118z"/>
              </g>
              <g>
                <path class="st6" d="M106.1,292.7c37.2,30.2,84.7,48.4,136.4,48.4c119.6,0,216.6-97,216.6-216.6c0-11.7-0.9-23.1-2.7-34.2
                  c-19.6-4-39.9-6.1-60.7-6.1C260.9,84.2,146.6,171.5,106.1,292.7z"/>
              </g>
              <g>
                <path class="st8" d="M233.4,277.1c-47.1,0-91.7,10.7-131.6,29.8c-7.3,26.2-11.3,53.9-11.3,82.5c0,168.5,136.6,305.2,305.2,305.2
                  c47.1,0,91.7-10.7,131.6-29.8c7.3-26.2,11.3-53.9,11.3-82.5C538.5,413.7,401.9,277.1,233.4,277.1z"/>
              </g>
              <g>

                  <ellipse transform="matrix(0.237 -0.9715 0.9715 0.237 -86.6566 357.9778)" class="st9" cx="184.6" cy="234.2" rx="71.2" ry="71.2"/>
              </g>
              <g>
                <circle class="st10" cx="378.6" cy="709.6" r="37.9"/>
              </g>
              <g>

                  <ellipse transform="matrix(0.1225 -0.9925 0.9925 0.1225 -259.5815 317.0306)" class="st11" cx="49.5" cy="305.3" rx="37.9" ry="37.9"/>
              </g>
              <g>
                <path class="st12" d="M566.4,51.5c0,20.9-17,37.9-37.9,37.9c-20.9,0-37.9-17-37.9-37.9c0-20.9,17-37.9,37.9-37.9
                  C549.4,13.6,566.4,30.6,566.4,51.5z"/>
              </g>
              <g>
                <path class="st13" d="M621,240.6c0,20.9-17,37.9-37.9,37.9c-20.9,0-37.9-17-37.9-37.9c0-20.9,17-37.9,37.9-37.9
                  C604,202.6,621,219.6,621,240.6z"/>
              </g>
              <g>
                <path class="st14" d="M107.6,345.9c0,16.1-13,29.1-29.1,29.1s-29.1-13-29.1-29.1c0-16.1,13-29.1,29.1-29.1
                  S107.6,329.8,107.6,345.9z"/>
              </g>
              <g>
                <path class="st15" d="M574.2,109.4c0,16.1-13,29.1-29.1,29.1c-16.1,0-29.1-13-29.1-29.1s13-29.1,29.1-29.1
                  C561.2,80.4,574.2,93.4,574.2,109.4z"/>
              </g>
              <g>
                <path class="st16" d="M762.4,568.2c0,16.1-13,29.1-29.1,29.1c-16.1,0-29.1-13-29.1-29.1c0-16.1,13-29.1,29.1-29.1
                  C749.3,539.1,762.4,552.1,762.4,568.2z"/>
              </g>
              <g>
                <path class="st17" d="M133.9,189.8c0,11.3-9.2,20.5-20.5,20.5s-20.5-9.2-20.5-20.5c0-11.3,9.2-20.5,20.5-20.5
                  S133.9,178.5,133.9,189.8z"/>
              </g>
              <g>
                <path class="st18" d="M733.3,436.5c0,11.3-9.2,20.5-20.5,20.5c-11.3,0-20.5-9.2-20.5-20.5s9.2-20.5,20.5-20.5
                  C724.1,416,733.3,425.2,733.3,436.5z"/>
              </g>
              <g>
                <path class="st19" d="M90.5,547.7c0,11.3-9.2,20.5-20.5,20.5c-11.3,0-20.5-9.2-20.5-20.5c0-11.3,9.2-20.5,20.5-20.5
                  C81.3,527.2,90.5,536.4,90.5,547.7z"/>
              </g>
              <g>

                  <ellipse transform="matrix(0.9219 -0.3875 0.3875 0.9219 -176.7585 323.0813)" class="st6" cx="712.8" cy="599.9" rx="20.5" ry="20.5"/>
              </g>
              <g>
                <path class="st7" d="M177.9,550.7c0,21.8-17.7,39.5-39.5,39.5c-21.8,0-39.5-17.7-39.5-39.5c0-21.8,17.7-39.5,39.5-39.5
                  C160.2,511.2,177.9,528.9,177.9,550.7z"/>
              </g>
              <g>
                <path class="st20" d="M634.4,599.9c0,28.3-23,51.3-51.3,51.3c-28.3,0-51.3-23-51.3-51.3c0-28.4,23-51.3,51.3-51.3
                  C611.4,548.5,634.4,571.5,634.4,599.9z"/>
              </g>
            </g>
          </g>
        </g>
        <g id="tetxo">
          <path class="st21 sentir" d="M221.6,392.4c-21.6,22-45.9,32.9-72.7,32.9c-18.3,0-32.7-6.8-43.1-20.4c-5.4-7.2-9.3-15.4-11.7-24.6
            c0,0-1.6-7.2-2.5-15c-0.6,7.8-0.9,15.7-1,23.6c2.7,7.5,6.3,14.2,11,20.1c11.5,14.9,27.3,22.4,47.2,22.4c28.2,0,53.5-11,76-33.1
            c7.2,12.9,12.1,22,14.8,27.4c3.5,7.1,6.4,14.7,8.7,22.8c-8.1,2.8-14.7,5.4-19.7,7.8c-12.2,5.8-18.3,14.9-18.3,27.2
            c0,5.8,1.8,10.6,5.3,14.4c3.6,3.7,8.3,5.6,14.1,5.6c4.3,0,8.6-1,12.7-3.1c4.2-2.1,7.8-4.6,10.8-7.7c4.6-4.7,8-10.1,10.1-16.2
            c2.1-6.1,3.1-12.3,3.1-18.8c0-2.9-0.2-5.8-0.7-8.8c7.4-3.3,13.8-7.6,19.3-12.8c-0.4,2.7-0.5,5.4-0.5,8c0,4.3,0.6,8.3,1.7,12.1
            c1.1,3.8,2.9,7.1,5.2,9.9c2.4,2.8,5.4,5,9.2,6.5c3.8,1.6,8.3,2.3,13.7,2.3c5.5,0,10.9-1.9,16.2-5.6c5.3-3.7,10.5-8.4,15.5-14.1
            c3.1-3.5,6.2-7.3,9.2-11.4c-2,6.5-4,13-5.8,19.3c-0.1,0.4-0.2,1-0.2,1.6c0,1.5,0.7,2.6,2,3.3c1.3,0.7,2.9,1.1,4.7,1.1
            c1.6,0,3.3-0.3,4.9-1c1.6-0.7,2.8-1.7,3.6-3c2.2-4.4,4.9-9.7,8.1-15.7c3.2-6,6.5-11.7,10-17c3.5-5.3,7-9.9,10.4-13.7
            c3.5-3.8,6.7-5.7,9.7-5.7c0.7,0,1.1,0.7,1.1,2c0,1.9-0.8,5-2.3,9.3c-1.6,4.3-3.2,9-5,14.2c-1.8,5.2-3.4,10.6-5,16.2
            c-1.6,5.6-2.3,10.7-2.3,15.3c0,4.9,0.9,8.9,2.6,12.1c1.7,3.2,5,4.8,9.9,4.8c6.2,0,12.2-2.5,18.1-7.4c5.8-5,11.5-11.2,16.9-18.8
            c4.1-5.8,8.1-11.9,12-18.3c-0.1,1.3-0.1,2.5-0.1,3.7c0,6.7,1.3,12,4,16.1c2.7,4.1,7.3,6.1,14,6.1c3.6,0,7.3-1.3,11.3-3.9
            c4-2.6,7.9-5.8,11.8-9.8c2.7-2.8,5.4-5.8,7.9-8.9c-0.7,2.2-1.3,4.4-1.9,6.7c-1.6,6.1-2.4,11.5-2.4,16.1c0,3.8,0.9,6.9,2.7,9.2
            c1.8,2.3,4.9,3.4,9.3,3.4c4.3,0,8.8-1.6,13.4-4.8c4.7-3.2,9.2-7.3,13.7-12.2c4.4-5,8.7-10.4,12.7-16.2c4-5.8,7.5-11.4,10.5-16.5
            c3-5.2,5.4-9.6,7.2-13.2c0.8-1.6,1.4-2.9,1.8-3.9c2.1,0.3,4.2,0.5,6.4,0.5c6.1,0,12.1-1.3,18-3.8c-1.9,3.1-4,7-6.3,11.7
            c-2.3,4.7-4.4,9.6-6.4,14.8c-2,5.2-3.7,10.4-5,15.7c-1.3,5.3-2,10-2,14.3c0,4.9,1.1,8.9,3.2,12c2.1,3.1,6,4.7,11.7,4.7
            c4.4,0,8.8-1.4,13.1-4.3c4.3-2.9,8.4-6.6,12.4-11.1c4-4.5,7.8-9.5,11.5-15c1.4-2.1,2.8-4.1,4.1-6.2c0,0,0,0,0.1-0.1
            c0.1-0.2,0.2-0.3,0.3-0.5c1.2-1.9,2.4-3.9,3.6-5.8c22.8-37.3,45.9-60.9,72-65.2c-0.1-2.1-0.2-4.2-0.3-6.3
            c-40.7,4.1-68.9,55.2-77.5,69.3c-3.2,5.3-6.6,10.3-9.8,15c-4.7,6.7-9.3,12.2-13.8,16.5c-4.5,4.4-8.8,6.5-12.8,6.5
            c-1.9,0-2.9-1.3-2.9-3.8c0-1.9,0.6-4.5,1.7-7.8c1.1-3.3,2.5-6.8,4.1-10.8c1.6-3.9,3.4-8.1,5.4-12.4c2-4.4,3.8-8.6,5.4-12.7
            c1.6-4.1,3-7.8,4.1-11.3c1.1-3.5,1.7-6.3,1.7-8.5c0-3-0.8-5-2.4-6c-1.6-1-3.5-1.6-5.5-1.6c-2.4,0-4.5,0.3-6.4,0.9
            c-1.9,0.6-3.7,1.2-5.3,1.9c-1.6,0.7-3.2,1.3-4.8,1.9c-1.6,0.6-3.1,0.9-4.8,0.9c-1.6,0-3.2-0.2-4.7-0.6c-1.5-0.4-3.3-1.6-5.3-3.6
            c1-1.3,2.1-3.1,3.2-5.3c1.1-2.2,2-4.6,2.8-7.1c0.7-2.5,1.4-5.1,1.9-7.8c0.5-2.7,0.8-5.3,0.8-7.6c0-3.4-0.7-6.2-2-8.4
            c-1.3-2.2-3.6-3.3-6.9-3.3c-7.1,0-12.6,2.6-16.4,7.8c-3.8,5.2-5.8,12.1-5.8,20.7c0,4,0.7,7.4,2.1,10.2c1.4,2.8,3.3,5.1,5.7,7
            c2,1.5,4.3,2.7,6.8,3.5c-2.7,5-6,10.6-9.7,16.9c-4.3,7.2-8.8,14-13.7,20.4c-4.8,6.4-9.5,11.9-14.2,16.4c-4.7,4.5-8.8,6.8-12.3,6.8
            c-1,0-1.6-1-1.6-2.9c0-2.4,0.6-6,1.7-10.8c1.1-4.8,2.6-10,4.4-15.7c1.8-5.6,3.9-11.4,6.2-17.2c2.3-5.8,4.6-11.1,6.8-15.7
            c0.4-0.9,0.7-1.8,0.7-2.7c0-1.9-0.9-3.5-2.8-4.7c-1.9-1.2-3.9-1.8-6.1-1.8c-1.6,0-3.1,0.4-4.6,1.2c-1.4,0.8-2.3,2-2.8,3.7
            c-0.7,2.4-2.1,6-4,10.9c-0.9,2.3-1.8,4.7-2.8,7.3c-0.3,0.4-0.5,0.8-0.8,1.2c-3.7,5.8-7.5,11.1-11.4,16c-3.9,4.9-7.8,9-11.7,12.2
            c-3.8,3.3-7.6,4.9-11.3,4.9c-1.6,0-2.8-0.8-3.4-2.3c-0.7-1.6-1-3.7-1-6.3c0-3.7,0.5-8.1,1.4-13.3c1-5.2,2.2-10.5,3.7-16
            c1.5-5.5,3.1-10.8,4.8-15.9c1.7-5.1,3.2-9.6,4.6-13.4c3.6-3.7,7.2-7.7,10.9-12.1c3.7-4.4,7.3-8.9,10.9-13.7
            c3.6-4.7,7-9.5,10.4-14.4c3.4-4.9,6.7-9.5,9.8-14c2.8-0.9,6-1.9,9.5-3c3.6-1.1,7.2-2.1,11.1-3.1c3.8-1,7.8-1.8,11.8-2.4
            s7.9-1,11.8-1c1.8,0,3.5,0.1,5.2,0.2c1.7,0.1,3.4,0.4,5,0.7c-2.1,0.6-3.6,1.4-4.4,2.3c-0.9,1-1.3,2-1.3,3c0,1.6,0.6,3,1.9,4.2
            c1.3,1.2,2.8,1.8,4.8,1.8c1.5,0,3.1-0.6,4.9-1.9c1.8-1.3,2.7-3.1,2.7-5.7c0-1.8-0.7-3.3-2-4.4c-1.3-1.2-3-2.1-5-2.9
            c-2-0.7-4.1-1.3-6.3-1.7c-2.2-0.4-4.2-0.6-6-0.6c-3.4,0-6.9,0.3-10.4,0.9c-3.6,0.6-7.1,1.3-10.7,2.2c-3.6,0.9-7.1,1.8-10.5,2.7
            c-3.5,0.9-6.8,1.6-9.9,2.2c1.2-1.3,2.2-3.7,3.1-7c0.9-3.4,1.3-6.8,1.3-10.1c0-3.1-0.6-5.8-1.7-8.2c-1.1-2.3-3.1-3.5-6.1-3.5
            c-5,0-9.6,1.5-13.7,4.5c-4.1,3-7.7,6.6-10.8,10.7c-3.1,4.1-5.8,8.2-8,12.2c-2.2,4-3.9,7.1-5.1,9.2c-1.8,0.3-3.9,0.6-6.4,0.8
            c-2.5,0.2-5,0.3-7.5,0.3c-4.1,0-8.1-0.4-11.9-1.1c-3.8-0.7-6-1.8-6.8-3.3c1.6,0,2.9-0.8,3.9-2.3c1-1.6,1.4-2.8,1.4-3.7
            c0-1.3-0.5-2.5-1.6-3.4c-1-1-2.2-1.4-3.6-1.4c-1.2,0-2.6,0.5-4.1,1.6c-1.6,1-2.3,2.8-2.3,5.4c0,2.8,0.8,5.1,2.4,6.8
            c1.6,1.7,3.7,3.1,6.3,4c2.6,1,5.4,1.6,8.5,1.9c3.1,0.3,6.2,0.4,9.3,0.4c1.8,0,3.5,0,5.1-0.1c1.6-0.1,3.1-0.2,4.4-0.3
            c-0.7,2.5-2.1,6-4,10.5c-1.9,4.5-4,9.6-6.3,15.3c-2.3,5.7-4.7,11.8-7.2,18.4c-2.5,6.6-4.8,13.2-6.8,19.9
            c-1.9,6.4-3.5,12.7-4.8,18.8c-2,3.4-4.1,6.8-6.3,10.3c-3.2,5.1-6.5,10.1-9.9,14.9c-3.4,4.8-6.8,9.1-10.2,13
            c-3.4,3.8-6.7,6.9-9.9,9.2c-3.2,2.3-6,3.4-8.5,3.4c-1.5,0-2.2-1-2.2-3.1c0-2.2,0.8-5.5,2.3-9.9c1.6-4.4,3.2-9.1,5-14.3
            c1.8-5.2,3.4-10.5,5-15.9c1.6-5.4,2.3-10.4,2.3-15c0-4.7-0.7-8.7-2.2-11.8c-1.5-3.1-4.7-4.7-9.8-4.7c-3.1,0-6.1,0.9-8.9,2.6
            c-2.8,1.7-5.5,3.9-8,6.7c-2.5,2.7-4.9,5.8-7.2,9.2c-2.3,3.4-4.6,6.8-6.8,10.2c0.4-1.8,1-3.7,1.7-5.8c0.7-2.1,1.3-4.2,2-6.4
            s1.3-4.4,1.8-6.4c0.5-2.1,0.8-3.9,0.8-5.5c0-1.6-0.8-3-2.4-4.1c-1.6-1.1-3.5-1.7-5.6-1.7c-1.6,0-3.1,0.3-4.3,1
            c-1.3,0.7-2.1,1.8-2.6,3.4c-2,6.5-4.1,13-6.1,19.5c-0.3,0.4-0.5,0.8-0.8,1.3c-4.3,6.6-9,12.8-14,18.5c-5,5.8-10.2,10.6-15.4,14.5
            c-5.3,3.9-10.2,5.9-15,5.9c-3,0-5.4-0.7-7.3-2.1c-1.9-1.4-3.5-3.2-4.7-5.4c-1.2-2.2-2-4.7-2.6-7.5c-0.5-2.8-0.8-5.6-0.8-8.4
            c0-1.6,0.1-3.2,0.2-4.6c0.1-1.5,0.4-2.9,0.7-4.2c5.6-2.7,11.1-6.2,16.5-10.7c5.4-4.5,10.2-9.3,14.4-14.5
            c4.2-5.2,7.6-10.3,10.2-15.3c2.6-5,3.9-9.3,3.9-12.8c0-2.5-0.7-4.5-2.1-6c-1.4-1.5-3.7-2.2-7-2.2c-6.8,0-13.4,2.3-19.6,6.8
            c-6.3,4.5-11.8,10.3-16.6,17.2c-4.8,7-8.7,14.6-11.5,22.9c-0.5,1.3-0.9,2.6-1.3,3.9c-2.5,3.1-5.3,5.9-8.5,8.3
            c-4.6,3.6-9.6,6.7-14.9,9.3c-3.8-12.8-11.7-29.5-23.4-50l-4-6.9c19.9-24.2,29.8-49.8,29.8-76.9c0-12.9-2.9-22.6-8.8-29
            c-5.9-6.4-13.4-9.7-22.5-9.7c-12.4,0-22.3,4.5-29.7,13.6c-7.4,9.1-11.1,20.5-11.1,34.4c0,17.7,7.7,40.3,23.1,67.8L221.6,392.4z
             M560.5,374.8c0.9-2.7,2.1-4.1,3.8-4.1c1.9,0,3.3,0.6,4.2,1.9c0.9,1.3,1.3,2.9,1.3,4.8c0,1.8-0.3,3.8-0.8,6.1
            c-0.5,2.3-1.1,4.5-1.9,6.5c-0.7,2.1-1.5,4-2.3,5.7c-0.8,1.7-1.5,2.9-2.1,3.7c-0.9-2.2-1.7-4.6-2.4-7.2c-0.7-2.6-1.1-5.1-1.1-7.7
            C559.2,380.7,559.6,377.5,560.5,374.8z M502.3,331.1c1.5-2.8,3.3-5.7,5.4-8.5c2.1-2.9,4.3-5.4,6.4-7.7c2.1-2.2,3.9-3.3,5.2-3.3
            s2,1.3,2,3.8c0,1.2-0.1,2.6-0.3,4.3c-0.2,1.7-0.6,3.4-1.1,5.2c-0.5,1.8-1.1,3.5-1.8,5.2c-0.7,1.7-1.4,3.2-2.3,4.6
            c-2.5,1-5.3,1.8-8.3,2.3c-3,0.5-5.4,0.9-7.2,1c-0.1-0.1-0.2-0.4-0.2-0.7C500.1,336,500.9,334,502.3,331.1z M489.6,361.8
            c2.4-6.5,5.1-12.6,8.1-18.2c1-0.3,2-0.5,2.8-0.7c0.8-0.1,1.7-0.3,2.7-0.4c1-0.1,2.1-0.3,3.6-0.6c1.4-0.2,3.4-0.6,5.9-1
            c-0.7,1.3-2.4,3.9-5,7.5c-2.6,3.7-5.5,7.7-8.7,11.9c-3.2,4.2-6.3,8.3-9.3,12.1c-3,3.9-5.3,6.5-6.8,8
            C484.9,374.5,487.1,368.3,489.6,361.8z M307.9,411c3.3-5.8,6.8-11.1,10.8-15.9c3.9-4.7,7.7-8.6,11.4-11.7c3.7-3,6.1-4.6,7.3-4.6
            c2.1,0,3.1,1.1,3.1,3.3c0,2.4-1.1,5.6-3.3,9.8c-2.2,4.1-5.1,8.5-8.8,13c-3.6,4.5-7.7,8.9-12.2,13.1c-4.5,4.2-9.1,7.5-13.7,9.9
            C302.8,422.5,304.6,416.8,307.9,411z M249.7,460c0,7.5-1.6,14.6-4.8,21.3c-4.4,9.1-10.5,13.6-18.3,13.6c-2.3,0-4.5-1-6.4-3
            c-2-2-2.9-4.8-2.9-8.4c0-9.4,5-16.5,15.1-21.3c3.3-1.5,9-3.8,17.1-6.7C249.6,457,249.7,458.5,249.7,460z M218.2,289.3
            c4.6-7.3,11.1-10.9,19.5-10.9c6.7,0,12.1,2.5,16.2,7.6c4,5,6.1,12.4,6.1,22.1c0,24.8-8.9,48.4-26.6,70.8
            c-14.7-26.1-22-47.4-22-63.9C211.4,305.1,213.7,296.6,218.2,289.3z"/>
            <path class="st21 carregando" d="M620.9,393.4c2.5-4.1,4.8-8.4,6.8-12.7c0.3-0.7,0.6-1.3,0.9-1.9c0,1.5,0.1,3,0.3,4.4c0.4,2.6,1,5,2,7.2
            c0.9,2.2,2.2,4.1,3.8,5.6s3.5,2.7,5.7,3.4c2.2,0.7,4.8,0.9,7.7,0.5c2.9-0.4,5.7-1.6,8.4-3.5c2.7-2,5.1-4.2,7.2-6.8s3.9-5.4,5.4-8.3
            c1.4-2.9,2.4-5.5,2.9-7.7c1.5,0.2,3.1,0.1,5-0.2c2.1-0.3,4.2-0.8,6.3-1.6c2.1-0.8,4.1-1.8,6-3c1.9-1.2,3.6-2.7,5.1-4.4
            c1.5-1.7,2.7-3.6,3.6-5.6c0.2-0.4,0.3-0.8,0.2-1.3c-0.1-0.6-0.4-1-0.8-1.2c-0.5-0.2-1-0.3-1.5-0.2c-1,0.1-1.6,0.8-1.8,1.9
            c-0.3,1.1-1,2.3-2,3.5c-1,1.2-2.3,2.4-3.9,3.5c-1.5,1.1-3.2,2-5,2.8c-1.8,0.8-3.6,1.3-5.4,1.6c-0.9,0.1-1.7,0.2-2.5,0.3
            c-0.8,0.1-1.6,0-2.3-0.3c0.5-1.5,1-3.4,1.5-5.6c0.5-2.2,0.9-4.5,1.2-7c0.3-2.5,0.5-5,0.5-7.7c0-2.6-0.1-5.1-0.4-7.5
            c-0.3-2.2-0.8-4.3-1.5-6.2c-0.7-1.9-1.6-3.6-2.8-4.9c-1.2-1.3-2.6-2.3-4.3-3c-1.7-0.7-3.8-0.8-6.2-0.5c-3.6,0.5-6.8,2.7-9.4,6.6
            c-2.6,3.9-4.1,9-4.5,15.3c-0.5,0-1.1,0-2,0.1c-2.8,0.4-5.4,1.7-7.6,4c-2.2,2.3-4,5-5.4,8.3c-1.1,2.5-1.9,5.2-2.4,8
            c-0.7,1.2-1.4,2.5-2.1,4.1c-1.2,2.4-2.4,5-3.7,7.6c-1.3,2.7-2.8,5.4-4.3,8.1c-1.5,2.7-3.1,5.2-4.7,7.4c-1.6,2.2-3.3,4.1-5.1,5.6
            c-1.8,1.5-3.6,2.4-5.5,2.7c-1.2,0.2-2.2-0.2-3-1c-0.8-0.8-1.2-2-1.4-3.4c-0.5-3.4-0.4-7.3,0.3-11.8c0.7-4.5,1.6-8.9,2.8-13.3
            c1.2-4.4,2.5-8.5,3.8-12.1c1.3-3.7,2.5-6.4,3.4-8.3c0.6-1.1,1.4-2.8,2.5-5.2c1.1-2.4,2.2-5.1,3.5-8.2c1.3-3.1,2.6-6.3,3.9-9.8
            c1.3-3.4,2.5-6.7,3.5-9.8c1-3.1,1.8-5.9,2.4-8.4c0.6-2.5,0.8-4.4,0.6-5.7c-0.2-1.8-0.9-3.1-2.1-4.1c-1.1-0.9-2.9-1.2-5.3-0.9
            c-2,0.3-3.8,1.8-5.7,4.5c-1.8,2.7-3.6,6.1-5.2,10.2c-1.6,4.1-3.2,8.7-4.7,13.8c-1.5,5.1-3,10.2-4.4,15.3c-1.4,5.1-2.7,10-3.9,14.7
            c-1.2,4.7-2.3,8.6-3.4,11.9c-3.1,9.2-6.2,16.4-9.1,21.7c-2.9,5.2-5.6,8-8.1,8.4c-3.4,0.5-5.3-1.2-5.8-4.9c-0.3-2-0.2-4.3,0.2-7
            c0.4-2.7,1-5.6,1.8-8.5c0.8-3,1.8-5.9,2.9-8.8c1.1-2.9,2.3-5.5,3.5-7.8c1.2-2.3,2.4-4.3,3.6-5.7c1.2-1.5,2.2-2.3,3.1-2.4
            c1.2-0.2,2.4,0.1,3.4,0.9c1.1,0.8,1.6,1.5,1.7,2.2c-0.4,0-0.8,0.2-1.3,0.3c-0.5,0.2-1,0.4-1.5,0.8c-0.5,0.3-0.9,0.9-1.1,1.5
            c-0.3,0.7-0.3,1.6-0.2,2.6c0.1,0.7,0.5,1.4,1.1,2c0.6,0.6,1.4,0.9,2.4,0.8c2.1-0.3,3.4-1.1,3.9-2.4c0.5-1.3,0.6-2.8,0.4-4.4
            c-0.1-1-0.5-2-1-3.1c-0.5-1.1-1.2-2-2.1-2.8c-0.9-0.8-1.9-1.4-3.1-1.9c-1.2-0.4-2.5-0.5-3.9-0.3c-3.5,0.5-6.7,2.3-9.7,5.4
            c-3,3.1-5.6,6.8-7.7,11.1c-1.4,2.7-2.5,5.6-3.4,8.6c-0.7,1.8-1.4,3.8-2.3,5.8c-1.2,3.1-2.6,6.3-4.1,9.7c-1.5,3.3-3,6.6-4.7,9.7
            c-1.6,3.2-3.3,6-5,8.6c-1.7,2.6-3.4,4.7-5.2,6.3c-1.7,1.6-3.3,2.6-4.8,2.8c-0.9,0.1-1.4-0.4-1.6-1.7c-0.2-1.3,0-3.4,0.6-6.1
            c0.6-2.7,1.2-5.7,1.8-9s1.2-6.6,1.7-9.9c0.5-3.4,0.5-6.4,0.1-9.2c-0.4-2.8-1.2-5.1-2.3-6.9c-1.1-1.7-3.2-2.4-6.2-2
            c-1.9,0.3-3.6,1-5.1,2.3c-1.5,1.3-3,2.8-4.2,4.7c-1.3,1.9-2.5,3.9-3.6,6.1c-1.1,2.2-2.2,4.5-3.2,6.7c0.1-1.1,0.3-2.3,0.5-3.6
            c0.2-1.3,0.4-2.6,0.7-4c0.2-1.4,0.4-2.7,0.5-4c0.1-1.3,0.1-2.4,0-3.4c-0.1-1-0.7-1.7-1.8-2.3c-1.1-0.5-2.2-0.7-3.5-0.5
            c-1,0.1-1.8,0.5-2.5,1c-0.7,0.5-1.1,1.3-1.2,2.3c-0.2,0.9-0.3,1.9-0.5,2.8c-0.6,1.7-1.3,3.7-2.2,6c-1.1,2.8-2.2,5.8-3.5,8.9
            c-1.3,3.1-2.7,6.3-4.2,9.5c-1.5,3.2-3.1,6.1-4.7,8.7c-1.6,2.6-3.3,4.8-5.1,6.5c-1.7,1.7-3.5,2.7-5.3,3c-2.6,0.4-4-0.8-4.4-3.6
            c-0.3-2-0.1-4.5,0.6-7.6c0.7-3.1,1.6-6.4,2.7-9.7c1.1-3.4,2.3-6.6,3.6-9.8c1.3-3.2,2.3-5.8,3.1-8c0.3-0.9,0.4-1.7,0.3-2.5
            c-0.2-1.2-0.8-2-2-2.4c-1.2-0.3-2.5-0.4-3.9-0.2c-1.2,0.2-2.4,0.5-3.5,1c-1.1,0.5-1.8,1-2.3,1.6c-0.6,0.8-1.4,2-2.3,3.7
            c-0.9,1.7-1.9,3.5-3,5.6c-1.1,2.1-2.2,4.2-3.5,6.5c-1.3,2.2-2.6,4.3-3.9,6.2c-1.3,1.9-2.7,3.5-4,4.8c-1.4,1.3-2.7,2-4,2.2
            c-1,0.1-1.9-0.1-2.7-0.8c-0.8-0.7-1.3-1.7-1.5-3.1c-0.2-1.7-0.2-3.8,0.2-6.4c0.4-2.6,0.9-5.3,1.7-8.1c0.8-2.8,1.8-5.6,3-8.5
            c1.2-2.8,2.4-5.4,3.7-7.7c1.3-2.3,2.7-4.2,4.2-5.7c1.5-1.5,2.9-2.4,4.2-2.5c1-0.1,1.8,0.2,2.5,1.1c0.7,0.9,1.1,1.8,1.3,2.7
            c0.1,0.7,0.1,1.5,0,2.3c-0.1,0.8-0.4,1.3-1,1.4c-0.3,0-0.7-0.1-1.2-0.3c-0.5-0.2-1-0.3-1.5-0.3c-1.2,0.2-2,0.7-2.7,1.7
            c-0.6,1-0.9,2.1-0.7,3.3c0.1,0.9,0.6,1.6,1.4,2.2c0.8,0.6,1.8,0.8,3.1,0.7c1-0.1,1.8-0.6,2.6-1.3c0.8-0.7,1.4-1.7,1.9-2.8
            c0.5-1.1,0.8-2.3,1-3.5c0.2-1.2,0.2-2.5,0-3.7c-0.3-1.9-1-3.6-2.2-4.9c-1.2-1.3-3-1.8-5.3-1.5c-4.1,0.6-7.8,2.3-11.3,5.2
            s-6.4,6.3-8.8,10.2c-2.4,3.9-4.2,8-5.4,12.4c-0.5,1.9-0.8,3.7-1,5.4c-0.3,0.8-0.5,1.6-0.8,2.5c-1.5,4.5-3.3,8.8-5.6,12.9
            c-2.3,4.1-5.1,7.8-8.4,10.9c-3.4,3.2-7.5,5.4-12.5,6.6c1.8-6.2,3.5-12.8,5.2-19.8c1.7-7,3.3-13.8,5-20.2c0-0.3,0.1-0.5,0.1-0.8
            c0-0.2,0-0.5,0-0.7c-0.2-1.2-0.8-2-2-2.5c-1.2-0.5-2.4-0.7-3.7-0.5c-1,0.1-1.8,0.5-2.5,1c-0.7,0.5-1.2,1.2-1.4,2.2
            c-0.6,2.5-1.4,5.4-2.5,8.6c-1.1,3.2-2.6,6.4-4.2,9.4c-1.7,3-3.6,5.7-5.8,7.9s-4.6,3.5-7.4,3.9c-1.5,0.2-2.8-0.1-3.9-0.9
            c-1.1-0.8-1.7-2-1.9-3.6c-0.4-2.7-0.1-6,0.9-10c1-4,2.3-7.9,4.1-11.7c1.7-3.8,3.7-7.1,5.9-10c2.2-2.8,4.4-4.4,6.7-4.7
            c1.1-0.1,1.9,0.1,2.6,0.7c0.7,0.6,1.1,1.3,1.2,2.1c0.1,0.9-0.1,1.7-0.6,2.4c-2,0.3-3.4,0.8-4.1,1.6c-0.7,0.8-0.9,1.8-0.7,3.1
            c0.1,1,0.5,1.8,1.2,2.3c0.7,0.6,1.6,0.8,2.7,0.6c2-0.3,3.4-1.4,4-3.2c0.6-1.9,0.8-4.1,0.4-6.8c-0.2-1.7-0.9-3.2-2.1-4.5
            c-1.1-1.3-2.9-1.8-5.4-1.5c-4.1,0.6-7.8,2.2-11.3,5c-3.5,2.7-6.4,6-8.8,9.8c-2.4,3.8-4.2,7.7-5.4,11.9c-0.1,0.4-0.2,0.8-0.3,1.2
            c-0.7,1.6-1.4,3.3-2.3,5c-2,4.3-4.3,8.4-6.8,12.3c-2.5,3.9-5.2,7.2-8,10c-2.8,2.8-5.7,4.4-8.5,4.8c-1.8,0.2-3.3,0-4.6-0.6
            c-1.3-0.7-2.4-1.6-3.2-2.9c-0.9-1.2-1.6-2.7-2.2-4.3c-0.5-1.6-0.9-3.3-1.2-5c-0.1-1-0.2-1.9-0.3-2.8c0-0.9,0-1.8,0-2.6
            c3.1-2.1,6.2-4.7,9-7.8c2.9-3.1,5.3-6.4,7.4-9.9c2.1-3.4,3.7-6.8,4.8-10c1.1-3.2,1.6-5.9,1.3-8c-0.2-1.5-0.8-2.6-1.8-3.4
            c-1-0.8-2.4-1-4.4-0.7c-4.1,0.6-7.8,2.5-11.2,5.7c-3.4,3.2-6.2,7.1-8.5,11.7c-1.3,2.5-2.3,5.1-3.2,7.7c-0.1,0.1-0.2,0.3-0.2,0.5
            c-2,4.5-4.1,9.3-6.2,14.4c-2.1,5.1-4.3,9.8-6.6,14.2c-2.2,4.4-4.5,8.1-6.9,11.1c-2.3,3-4.7,4.7-7.1,5c-1.2,0.2-1.8-0.5-2-2
            c-0.2-1.2,0-2.8,0.3-4.8c0.4-2,0.9-4.3,1.6-6.8c0.6-2.5,1.4-5.1,2.2-7.9c0.8-2.8,1.6-5.5,2.2-8c0.6-2.6,1.1-4.9,1.5-7.1
            c0.4-2.2,0.5-3.9,0.3-5.3c-0.2-1.8-0.9-2.9-2-3.4c-1.1-0.5-2.2-0.6-3.5-0.5c-1.4,0.2-2.7,0.6-3.8,1.1c-1.1,0.5-2.1,1-3,1.6
            c-0.9,0.5-1.8,1-2.7,1.5c-0.9,0.5-1.8,0.8-2.8,0.9c-1,0.1-1.9,0.2-2.8,0.1c-0.9-0.1-2.1-0.7-3.5-1.7c0.5-0.9,1-2,1.5-3.4
            c0.5-1.4,0.8-2.9,1.1-4.5c0.2-1.6,0.4-3.2,0.5-4.9c0.1-1.7,0-3.2-0.2-4.6c-0.3-2-0.9-3.6-1.9-4.9c-1-1.2-2.5-1.7-4.4-1.4
            c-4.3,0.6-7.3,2.6-9.2,6.1c-1.9,3.5-2.4,7.7-1.7,12.9c0.3,2.4,1,4.4,2.1,5.9c1.1,1.6,2.4,2.8,4,3.7c0.6,0.3,1.2,0.6,1.9,0.9
            c-1.9,4.2-3.8,8.7-5.8,13.4c-2.1,5.1-4.3,9.8-6.6,14.2c-2.2,4.4-4.5,8.1-6.9,11.1c-2.3,3-4.7,4.7-7.1,5c-1.2,0.2-1.8-0.5-2-2
            c-0.2-1.2,0-2.8,0.3-4.8c0.4-2,0.9-4.3,1.6-6.8c0.6-2.5,1.4-5.1,2.2-7.9c0.8-2.8,1.6-5.5,2.2-8c0.6-2.6,1.1-4.9,1.5-7.1
            c0.4-2.2,0.5-3.9,0.3-5.3c-0.2-1.8-0.9-2.9-2-3.4c-1.1-0.5-2.2-0.6-3.5-0.5c-1.4,0.2-2.7,0.6-3.8,1.1c-1.1,0.5-2.1,1-3,1.6
            c-0.9,0.5-1.8,1-2.7,1.5c-0.9,0.5-1.8,0.8-2.8,0.9c-1,0.1-1.9,0.2-2.8,0.1c-0.9-0.1-2.1-0.7-3.5-1.7c0.5-0.9,1-2,1.5-3.4
            c0.5-1.4,0.8-2.9,1.1-4.5c0.2-1.6,0.4-3.2,0.5-4.9c0.1-1.7,0-3.2-0.2-4.6c-0.3-2-0.9-3.6-1.9-4.9c-1-1.2-2.5-1.7-4.4-1.4
            c-4.3,0.6-7.3,2.6-9.2,6.1c-1.9,3.5-2.4,7.7-1.7,12.9c0.3,2.4,1,4.4,2.1,5.9c1.1,1.6,2.4,2.8,4,3.7c0.7,0.4,1.4,0.7,2.1,0.9
            c-0.6,1.7-1.4,3.8-2.3,6.3c-1.1,2.8-2.2,5.8-3.5,8.9c-1.3,3.1-2.7,6.3-4.2,9.5c-1.5,3.2-3.1,6.1-4.7,8.7c-1.6,2.6-3.3,4.8-5.1,6.5
            c-1.7,1.7-3.5,2.7-5.3,3c-2.6,0.4-4-0.8-4.4-3.6c-0.3-2-0.1-4.5,0.6-7.6c0.7-3.1,1.6-6.4,2.7-9.7c1.1-3.4,2.3-6.6,3.6-9.8
            c1.3-3.2,2.3-5.8,3.1-8c0.3-0.9,0.4-1.7,0.3-2.5c-0.2-1.2-0.8-2-2-2.4c-1.2-0.3-2.5-0.4-3.9-0.2c-1.2,0.2-2.4,0.5-3.5,1
            c-1.1,0.5-1.8,1-2.3,1.6c-0.6,0.8-1.4,2-2.3,3.7c-0.9,1.7-1.9,3.5-3,5.6c-1.1,2.1-2.2,4.2-3.5,6.5c-1.3,2.2-2.6,4.3-3.9,6.2
            c-1.3,1.9-2.7,3.5-4,4.8c-1.4,1.3-2.7,2-4,2.2c-1,0.1-1.9-0.1-2.7-0.8c-0.8-0.7-1.3-1.7-1.5-3.1c-0.2-1.7-0.2-3.8,0.2-6.4
            c0.4-2.6,0.9-5.3,1.7-8.1c0.8-2.8,1.8-5.6,3-8.5c1.2-2.8,2.4-5.4,3.7-7.7c1.3-2.3,2.7-4.2,4.2-5.7c1.5-1.5,2.9-2.4,4.2-2.5
            c1-0.1,1.8,0.2,2.5,1.1c0.7,0.9,1.1,1.8,1.3,2.7c0.1,0.7,0.1,1.5,0,2.3c-0.1,0.8-0.4,1.3-1,1.4c-0.3,0-0.7-0.1-1.2-0.3
            c-0.5-0.2-1-0.3-1.5-0.3c-1.2,0.2-2,0.7-2.7,1.7c-0.6,1-0.9,2.1-0.7,3.3c0.1,0.9,0.6,1.6,1.4,2.2c0.8,0.6,1.8,0.8,3.1,0.7
            c1-0.1,1.8-0.6,2.6-1.3c0.8-0.7,1.4-1.7,1.9-2.8c0.5-1.1,0.8-2.3,1-3.5c0.2-1.2,0.2-2.5,0-3.7c-0.3-1.9-1-3.6-2.2-4.9
            c-1.2-1.3-3-1.8-5.3-1.5c-4.1,0.6-7.8,2.3-11.3,5.2c-3.4,2.9-6.4,6.3-8.8,10.2c-2.2,3.6-3.9,7.4-5.1,11.3c-1.2,2.3-2.5,4.8-4.1,7.3
            c-2.4,3.9-5.1,7.6-8,11.1c-2.9,3.5-5.9,6.5-8.9,9c-3,2.5-5.9,3.9-8.7,4.3c-4.3,0.6-7.6,0-9.6-2c-2.1-1.9-3.4-4.9-3.9-8.8
            c-0.4-2.9-0.5-6.1-0.2-9.7c0.3-3.5,0.8-7.2,1.5-10.9c0.7-3.7,1.6-7.5,2.6-11.2c1-3.7,2-7.2,3.1-10.4s2-6,3-8.4
            c0.9-2.5,1.7-4.3,2.3-5.6c0.8,0.1,1.8,0,3-0.1c1.2-0.1,2.2-0.2,3.2-0.4c3.4-0.5,6.9-1.4,10.7-2.7c3.7-1.3,7.1-3,10.1-5.1
            c3-2.1,5.4-4.4,7.3-7.1c1.8-2.7,2.5-5.7,2.1-8.9c-0.3-1.9-0.9-3.4-1.9-4.5c-1-1.1-2.2-2-3.7-2.6s-3-0.9-4.7-1
            c-1.7-0.1-3.3,0-4.9,0.2c-3.9,0.5-7.5,1.7-10.7,3.3c-3.2,1.7-6.2,3.8-8.7,6.3c-2.6,2.5-4.9,5.4-6.8,8.7c-2,3.3-3.7,6.8-5.2,10.5
            c-2.2,0-4.4,0-6.7-0.1c-2.3-0.1-4.9,0.1-7.9,0.5c-4.7,0.7-9.2,1.5-13.4,2.7c-3,0.8-5.8,1.8-8.3,3c0.1,1.2,0.1,2.5,0.2,3.7
            c0.3-0.2,0.6-0.4,1-0.5c2.6-1.3,5.5-2.4,8.9-3.3c3.4-0.9,6.9-1.6,10.8-2.1c3-0.4,5.6-0.5,7.9-0.3c2.2,0.2,4.4,0.4,6.5,0.4
            c-1.3,2.7-2.6,6.2-4.1,10.5c-1.5,4.3-2.8,8.9-4,13.9c-1.2,5-2.1,10-2.7,15.2c-0.6,5.2-0.6,9.9,0,14.3c0.4,2.8,1.2,5.4,2.3,7.7
            c1.1,2.3,2.6,4.2,4.5,5.7c1.9,1.5,4.2,2.6,6.9,3.3c2.7,0.7,5.9,0.7,9.5,0.2c2.4-0.3,4.8-1.3,7.3-2.8c2.5-1.5,4.9-3.4,7.3-5.6
            c2.4-2.2,4.7-4.7,7-7.5c2.2-2.8,4.3-5.6,6.1-8.4c0.2-0.3,0.5-0.8,0.9-1.4c0,0.8,0.1,1.5,0.2,2.2c0.5,3.4,1.8,6.1,4,8
            c2.2,2,5.5,2.7,10,2.1c1.4-0.2,2.9-0.8,4.5-1.9c1.6-1.1,3.1-2.4,4.5-4c1.4-1.6,2.7-3.2,3.9-4.9c1.2-1.7,2-3.4,2.5-5
            c-0.2,1.3-0.4,2.8-0.8,4.6c-0.3,1.8-0.7,3.7-1,5.7c-0.3,2-0.5,4.1-0.7,6.1c-0.2,2.1-0.1,4,0.1,5.7c0.4,2.7,1.4,4.9,3,6.6
            c1.6,1.6,4.3,2.2,7.9,1.7c3-0.4,5.9-1.9,8.7-4.3c2.8-2.5,5.3-5.5,7.7-9.1c2.3-3.6,4.5-7.4,6.3-11.6c1.9-4.1,3.4-8.1,4.7-11.9
            c0.9-2.5,1.8-4.9,2.6-7.3c0.6-1.7,0.9-3.1,1-4.2c0.1,0,0.2,0,0.3,0c2,0.2,4,0.2,6.2-0.1c3.6-0.5,7.1-1.8,10.5-3.8
            c-0.9,2-1.8,4.5-2.8,7.5c-1,3-1.9,6.1-2.6,9.4c-0.8,3.3-1.3,6.5-1.7,9.8c-0.4,3.3-0.4,6.2,0,8.7c0.4,2.9,1.4,5.2,2.9,6.9
            c1.5,1.7,4,2.3,7.4,1.8c2.7-0.4,5.2-1.6,7.5-3.7c2.3-2.1,4.5-4.6,6.5-7.7c2-3,3.9-6.4,5.7-9.9c1.8-3.6,3.3-7.1,4.7-10.5
            c1.4-3.4,2.6-6.5,3.7-9.4c1-2.6,1.9-4.7,2.6-6.2c0.1,0,0.1,0,0.2,0c2,0.2,4,0.2,6.2-0.1c3.6-0.5,7.1-1.8,10.5-3.8
            c-0.9,2-1.8,4.5-2.8,7.5c-1,3-1.9,6.1-2.6,9.4c-0.8,3.3-1.3,6.5-1.7,9.8c-0.4,3.3-0.4,6.2,0,8.7c0.4,2.9,1.4,5.2,2.9,6.9
            c1.5,1.7,4,2.3,7.4,1.8c2.7-0.4,5.2-1.6,7.5-3.7c2.3-2.1,4.5-4.7,6.5-7.7s3.9-6.4,5.7-9.9c1.8-3.6,3.3-7.1,4.7-10.5
            c0.3-0.8,0.6-1.5,0.9-2.3c0,2,0.1,4,0.3,6c0.4,2.6,1,4.9,2,7.1c1,2.2,2.3,4,3.9,5.5c1.7,1.5,3.7,2.5,6.1,3.2s5.2,0.7,8.4,0.3
            c3.3-0.5,6.4-2,9.2-4.7c2.9-2.7,5.6-5.9,8.1-9.7c2.5-3.8,5-8.1,7.2-12.8c0-0.1,0-0.1,0.1-0.2c0,0.3,0.1,0.6,0.1,0.9
            c0.5,3.5,1.9,6.2,4.1,8.2c2.3,2,5.8,2.7,10.7,2c2.2-0.3,4.2-1,6.1-2.1c1.8-1.1,3.5-2.5,5-4c1.5-1.6,2.8-3.2,3.9-5
            c1.1-1.8,2-3.5,2.8-5.1c-0.7,2.4-1.3,4.7-2,6.7c-0.7,2-1.3,4-1.9,6c-0.6,2-1.2,4-1.8,6c-0.6,2-1.2,4.2-1.8,6.6
            c-4.7,0.7-9.5,1.9-14.5,3.7c-4.9,1.8-9.8,4.1-14.4,6.8c-4.7,2.7-9.1,5.8-13.2,9.3c-4.1,3.5-7.6,7.3-10.5,11.5
            c-2.9,4.2-5,8.6-6.4,13.2c-1.4,4.7-1.7,9.5-1,14.6c0.3,2.1,1,4.1,2,6c1,1.9,2.3,3.5,3.9,4.9c1.5,1.4,3.3,2.4,5.3,3
            c2,0.6,4.1,0.8,6.3,0.5c7.6-1.1,14.3-3.9,20-8.6c5.7-4.6,10.7-10.3,14.8-17s7.6-14.1,10.3-22.1c2.7-8,4.8-15.9,6.3-23.6
            c3.7-0.5,7.1-1.7,10.3-3.7c3.1-1.9,5.9-4.3,8.4-7.1c2.5-2.8,4.7-6,6.6-9.5c1.3-2.4,2.5-4.8,3.5-7.3c0.7,2.1,1.8,3.8,3.4,5.2
            c2.2,2,5.5,2.7,10,2.1c1.4-0.2,2.9-0.8,4.5-1.9c1.6-1.1,3.1-2.4,4.5-4c1.4-1.6,2.7-3.2,3.9-4.9c1.2-1.7,2-3.4,2.5-5
            c-0.2,1.3-0.4,2.8-0.8,4.6c-0.3,1.8-0.7,3.7-1,5.7c-0.3,2-0.5,4.1-0.7,6.1c-0.2,2.1-0.1,4,0.1,5.7c0.4,2.7,1.4,4.9,3,6.6
            c1.6,1.6,4.3,2.2,7.9,1.7c3-0.4,5.9-1.9,8.7-4.3c2.8-2.5,5.3-5.5,7.7-9.1c2.3-3.6,4.5-7.4,6.3-11.6c0.8-1.8,1.6-3.6,2.3-5.3
            c-0.7,4.5-1.4,9-2.1,13.3c-0.1,0.3-0.1,0.6,0,1c0.1,0.9,0.6,1.5,1.5,1.8c0.9,0.3,1.8,0.4,2.9,0.3c1-0.1,1.9-0.5,2.8-1
            c0.9-0.5,1.5-1.2,1.9-2.1c1-2.8,2.1-6.2,3.5-10.1c1.4-3.9,2.9-7.5,4.6-11c1.6-3.5,3.3-6.5,5.1-9.1c1.8-2.6,3.5-3.9,5.3-4.2
            c0.4-0.1,0.7,0.3,0.8,1.1c0.2,1.2,0,3.1-0.6,5.8c-0.6,2.7-1.2,5.7-1.8,8.9c-0.6,3.3-1.2,6.6-1.6,10.1c-0.5,3.5-0.5,6.6-0.1,9.4
            c0.4,2.9,1.3,5.3,2.5,7c1.3,1.8,3.4,2.4,6.3,2c3.7-0.5,7.1-2.5,10.2-6c3.1-3.5,5.9-7.7,8.5-12.6c2.4-4.6,4.7-9.5,6.8-14.7
            c0,1.1,0.1,2.2,0.3,3.3c0.5,3.6,1.8,6.5,3.9,8.6c2.1,2.1,5.2,2.9,9.4,2.3c2.7-0.4,5.1-1.6,7.1-3.6c2-2,3.7-4.4,5.2-7
            c1.5-2.6,2.8-5.3,3.8-8.1c1.1-2.7,2-5,2.8-6.8c-0.3,1.2-0.5,2.6-0.6,4.2c-0.1,1.6-0.3,3.2-0.4,4.9c-0.1,1.7-0.2,3.4-0.1,5
            c0.1,1.7,0.2,3.3,0.4,4.8c0.4,2.6,1.4,4.7,3.1,6.5c1.7,1.7,4.6,2.3,8.7,1.8c3.5-0.5,6.8-2.3,9.8-5.4
            C615.7,401.1,618.4,397.5,620.9,393.4z M655.3,342.5c0.3-2,0.8-3.9,1.5-5.6c0.7-1.7,1.5-3,2.5-4.1c1-1,2-1.6,3.1-1.8
            c2.8-0.4,5.1,0.5,6.7,2.8c1.6,2.3,2.7,5.2,3.2,8.8c0.3,2,0.4,4.2,0.4,6.5c0,2.3-0.2,4.6-0.5,6.9c-0.3,2.3-0.6,4.5-1,6.6
            c-0.4,2.1-0.8,3.9-1.2,5.5c-1.8-0.6-3.5-1.5-5.1-2.8c-1.6-1.3-3.1-2.8-4.4-4.6c-1.3-1.8-2.4-3.7-3.3-5.8c-0.9-2.1-1.5-4.2-1.8-6.3
            S655,344.5,655.3,342.5z M638.2,376.9c0.4-3.3,1.1-6.5,2-9.6c0.9-3.1,2.1-5.9,3.5-8.4c1.4-2.5,2.9-4.4,4.6-5.6
            c0.8,5.5,2.9,10,6.4,13.4c3.5,3.4,8.1,5.5,13.8,6.1c-0.4,1.3-1,3.2-2.1,5.6c-1,2.4-2.4,4.8-4.1,7.2c-1.7,2.4-3.7,4.6-6.1,6.5
            c-2.4,1.9-5.1,3.1-8.1,3.5c-3,0.4-5.3-0.3-6.9-2.2c-1.6-1.9-2.6-4.3-3-7.4C637.8,383.2,637.8,380.2,638.2,376.9z M608.8,344.1
            c0.6-3.1,1.3-6.3,2.1-9.7c0.8-3.4,1.7-6.8,2.7-10.1c1-3.3,2-6.4,2.9-9.1c1-2.7,1.9-4.9,2.8-6.7c0.9-1.8,1.6-2.7,2.3-2.8
            c0.9-0.1,1.4,0.4,1.6,1.5c0.2,1.7-0.2,4.4-1.3,8.2c-1.1,3.8-2.5,7.9-4.2,12.3c-1.7,4.4-3.5,8.8-5.3,13.2c-1.9,4.4-3.4,8-4.7,10.9
            C607.9,349.7,608.2,347.1,608.8,344.1z M343.7,407.2c1.5-3.8,3.2-7.2,5.1-10.4c2-3.2,3.9-5.8,5.9-7.9c2-2.1,3.3-3.2,4-3.3
            c1.2-0.2,2,0.4,2.1,1.7c0.2,1.4-0.2,3.5-1.2,6.1c-1,2.7-2.4,5.5-4.2,8.5c-1.8,3-3.9,6-6.2,8.9c-2.4,2.9-4.8,5.3-7.4,7.1
            C341.7,414.6,342.3,411,343.7,407.2z M141.7,388.3c1.2-2.7,2.6-5.3,4.2-7.7c1.6-2.4,3.4-4.5,5.5-6.3c2.1-1.8,4.4-2.8,6.9-3.2
            c1.3-0.2,2.7-0.3,4-0.3c1.4,0,2.6,0.1,3.7,0.4c1.1,0.3,2.1,0.7,2.8,1.3c0.8,0.6,1.2,1.4,1.3,2.4c0.4,2.7-0.3,5.2-2.1,7.5
            c-1.8,2.3-4,4.4-6.8,6.1c-2.8,1.7-5.8,3.2-9.1,4.4c-3.3,1.2-6.2,1.9-8.8,2.3c-0.2,0-0.5,0.1-1,0.1c-0.5,0.1-1,0.1-1.5,0.1
            c-0.5,0-1,0.1-1.5,0.1c-0.5,0-0.7,0-0.8,0C139.5,393.4,140.5,391,141.7,388.3z M239.1,405c-0.1,1.4-0.3,2.8-0.6,4.1
            c-0.3,1.3-0.6,2.5-0.9,3.6c-0.3,1.1-0.7,1.9-1,2.4c-0.7-1.3-1.4-2.6-2.1-4.1c-0.7-1.5-1.1-3-1.3-4.5c-0.3-2.2-0.3-4.2,0-5.9
            c0.3-1.7,0.9-2.6,1.9-2.8c1.2-0.2,2,0.1,2.7,0.8c0.6,0.7,1,1.6,1.2,2.7C239.2,402.3,239.2,403.6,239.1,405z M289.8,397.9
            c-0.1,1.4-0.3,2.8-0.6,4.1c-0.3,1.3-0.6,2.5-0.9,3.6c-0.3,1.1-0.7,1.9-1,2.4c-0.7-1.3-1.4-2.6-2.1-4.1c-0.7-1.5-1.1-3-1.3-4.5
            c-0.3-2.2-0.3-4.2,0-5.9c0.3-1.7,0.9-2.6,1.9-2.8c1.2-0.2,2,0.1,2.7,0.8c0.6,0.7,1,1.6,1.2,2.7
            C289.9,395.3,289.9,396.5,289.8,397.9z M394.6,463.8c-3.2,7.5-6.6,14.3-10.3,20.5c-3.7,6.2-7.5,11.4-11.4,15.5
            c-3.9,4.1-7.5,6.4-10.9,6.9c-2.8,0.4-5.2,0.2-7.2-0.6c-2-0.8-3.5-1.8-4.8-3.1c-1.2-1.3-2.1-2.7-2.7-4.2c-0.6-1.5-0.9-2.9-1.1-3.9
            c-0.7-4.8-0.1-9.4,1.6-13.8c1.7-4.4,4.2-8.6,7.5-12.4c3.3-3.8,7-7.3,11.3-10.5c4.3-3.2,8.6-5.9,13-8.2c4.4-2.3,8.5-4.2,12.5-5.7
            c4-1.5,7.3-2.4,10.1-2.8C400.3,448.9,397.8,456.3,394.6,463.8z"/>
        </g>
        <g id="mao">
          <g>
            <path class="st22" d="M703.6,769.9c-1.9,14.6-46.3-3.9-170.8,37.2c-20.8,6.9-40,15.4-58.3,24.2c26.7-20.1,54.3-40.4,85.4-57.3
              c50.5-27.4,87.9-41.1,113.7-49.1C693.9,733.9,706.5,748.5,703.6,769.9z M333,733.1c-113.2-6.7-88.3-78.5-153.5-91.9
              c-35.4-7.3-61.1,15.3-66.7,26.8c-5.6,11.3,98.4,39.4,89.4,121.7c-4.1,36.9-84.7,46.7-66.3,89.5c16.7,38.8,75.4,51,172.7,17.1
              c94.6-33,150.1-101.2,237.2-148.5c118.6-64.4,168.3-56.6,167-70.5c-4.6-50.1-93.9-43.8-158-16.8C519.5,675.3,416.3,738,333,733.1z
              "/>
          </g>
        </g>
        </svg>
    </div>
  </transition>
</template>
<style scoped>
  .loading {
    position: absolute;
    top:0; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cdf2ff;
  }

  svg {height: 50%;}

  .sentir {animation: 5s fade 2.5s infinite ease-in-out;}
  .carregando {animation: 5s fade infinite ease-in-out;}

  #globo ellipse, #globo path {mix-blend-mode: multiply;}
  .st0{fill:#80DEFF;}
  .st1{fill:#EFCAAB;}
  .st2{fill:#F94343; animation: 2s leaf .5s infinite;}
  .st3{fill:#EE8640; animation: 2s leaf .65s infinite;}
  .st4{fill:#C8383D; animation: 2s leaf infinite;}
  .st5{fill:#CF2FE8; animation: 2s leaf .75s infinite;}
  .st6.animate{fill:#9FD4DF; animation: 2s leaf .15s infinite;}
  .st6{fill:#9FD4DF}
  .st7{fill:#C8DD37; animation: 3s leaf 1.25s infinite;}
  .st8{fill:#2070A2;}
  .st9{fill:#DFFF00; animation: 3s leaf 1.5s infinite;}
  .st10{fill:#9AE2A5; animation: 3s leaf 1.75s infinite;}
  .st11{fill:#DA368B; animation: 3s leaf .3s infinite;}
  .st12{fill:#F79C5E; animation: 3s leaf 1s infinite;}
  .st13{fill:#F76D6D; animation: 3s leaf 2s infinite;}
  .st14{fill:#F4EE6E; animation: 3s leaf 2.5s infinite;}
  .st15{fill:#F8F55E; animation: 3s leaf 2.2s infinite;}
  .st16{fill:#82234F; animation: 3s leaf .25s infinite;}
  .st17{fill:#B95758; animation: 3s leaf .75s infinite;}
  .st18{fill:#D73589; animation: 3s leaf .15s infinite;}
  .st19{fill:#E19564; animation: 3s leaf infinite;}
  .st20{fill:#F7DE68;}
  .st21{fill:#FFFFFF;}
  .st22{fill:#592F0A;}
  .st23{display:none;}

  @keyframes fade {
    0% {fill-opacity: 0}
    50% {fill-opacity: 0}
    60% {fill-opacity: 1}
    90% {fill-opacity: 1}
    100% {fill-opacity: 0}
  }
  @keyframes leaf {
    0% {transform: none;}
    75% {transform: none;}
    80% {transform: rotate(.5deg);}
    85% {transform: rotate(-.25deg);}
    90% {transform: rotate(.25deg);}
    95% {transform: rotate(-.5deg);}
    100% {transform: none;}
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease-in-out;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    opacity: 0;
  }
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Loading',
  data() {
    return {
    }
  },
  computed: mapGetters(['load'])
}
</script>
