<template>
  <nav :class="{creditos, 'toggleBook': pass}">
    <div class="exit" @click="showPass">
    </div>
    <img :class="['carimbo', change]" :src="require('@/assets/carimbo.svg')" alt="Carimbo" />
    <section class="book" >
      <div class="page6" :style="{'background-image': 'url(' + require('@/assets/fundo.svg') + ')'}">
        <div class="close" @click="showPass">
          <div class="icon icon-expand"></div>
        </div>
        <div class="stamps">
          <router-link to="/cheirar" @click.native="checkin('cheirar')">
            <img class="visible subTit" :src="require('@/assets/cheirar.svg')" alt="Cheirar" />
            <img :class="{'visible': destinos.cheirar}" :src="require('@/assets/stamp2.svg')" alt="Carimbo indicando a página Cheirar" />
          </router-link>
          <router-link @click.native="showPass" v-if="extras.cheirar" to="/cheiros">
            <img :class="{'visible': extras.cheirar}" :src="require('@/assets/extra_cheirar.svg')" alt="Carimbo indicando a página Tocar" />
          </router-link>
          <div v-else></div>

          <router-link to="/tocar" @click.native="checkin('tocar')">
            <img class="visible subTit" :src="require('@/assets/tocar.svg')" alt="Tocar" />
            <img :class="{'visible': destinos.tocar}" :src="require('@/assets/stamp4.svg')" alt="Carimbo indicando a página Tocar" />
          </router-link>
          <router-link @click.native="showPass" v-if="extras.tocar" to="/quizz">
            <img :class="{'visible': extras.tocar}" :src="require('@/assets/extra_tocar.svg')" alt="Carimbo indicando a página Tocar" />
          </router-link>
          <div v-else></div>

          <div to="/sobre" @click="changePage('sobre')"><img class="visible"  :src="require('@/assets/stamp1.svg')" alt="Carimbo indicando a página Sobre" /></div>
          <div to="/creditos" @click="changePage('creditos')"><img class="visible"  :src="require('@/assets/stamp7.svg')" alt="Carimbo indicando a página Créditos" /></div>
        </div>
      </div>
      <div class="page5" :style="{'background-image': 'url(' + require('@/assets/fundo_ref.svg') + ')'}">

        <div class="volta" v-if="creditos != ''" @click="changePage('')">
          <div class="seta"></div> voltar
        </div>

        <transition name="fade">
          <div key=1 v-if="creditos == 'creditos'" class="about" @click="changePage('')">
            <div class="apresenta">
              <div class="thumb"><img :src="require('@/assets/mariana.jpg')" alt="Mariana Sana" /></div>
              <div>
                <h2>Mariana Sana</h2>
                <p>Escuta os sussurros abafados de quem mais precisa e incentiva o empoderamento de vozes roubadas. Gosta de ouvir o som de sorrisos em um dia de praia, da torcida unida e do samba que toca seu coração. Representa a generosidade de alguém que escuta a urgência de todos os lados. </p>
              </div>
              <div class="thumb"><img :src="require('@/assets/millena.jpg')" alt="Carimbo indicando a página Tocar" /></div>
              <div>
                <h2>Millena de Morais</h2>
                <p>É capaz de definir certeiramente os temperos mais essenciais. Não têm medo de experimentar combinações malucas e sempre descobre um jeito novo de fazer. Cortadora oficial de ingredientes, criativa e sofisticada, sempre exibe bom gosto em uma nova pitada e cuida para que cada experiência seja única e imersiva.</p>
              </div>
              <div class="insta">
                <a href="https://www.instagram.com/_projetosentir/?igshid=pceqqla7myvm" target="_blank">
                  <img :src="require('@/assets/instagram.svg')" alt="Link para o Instagram" />
                </a>
              </div>
            </div>
            <i class="fa fa-long-arrow-right arrow1" aria-hidden="true"></i>
          </div>
          <div key=2 v-else-if="creditos == 'sobre'" class="about credit" @click="changePage('')">
            <h1>Agradecimentos</h1>
            <ol>
              <li>Aeroporto Internacional de Guarulhos</li>
              <li>Centro de Acolhida Missão Scalabriniana </li>
              <li>Igreja Presbiteriana Antioquia Coreana </li>
              <li>Igreja Santo Antônio do Pari</li>
              <li>Igreja San Gennaro </li>
              <li>Museu da Imigração</li>
              <li>Mesquita do Brás / ARBIB</li>
              <li>Metrô de São Paulo</li>
              <li>Restaurante Altanur</li>
              <li>Restaurante Hospedaria</li>
            </ol>
            <h1>Edição</h1>
            <ol>
              <li>Edson Harada</li>
            </ol>
            <h1>Desenvolvimeto</h1>
            <ol>
              <li>Eduardo Liron</li>
              <li style="margin-top: 2vh;">
                <a href="http://www.graofilmes.com.br" target="_blank">
                  <svg data-v-326c4d73="" width="auto" height="7vh" style="transform: scale(1.1, 1)" viewBox="0 0 337.4 175.6"><path data-v-326c4d73="" d="M201.3,103.5c0,1.9,1.4,23.1-19.7,23.1c-15.3,0-19.1-11.5-19.6-16.8h9.4c0.4,2,1.7,8.4,10.3,8.4c12.1,0,10.3-12.9,10.3-18.3 c-5.3,6.6-18.3,8.5-26.4-0.3c-7.8-8.4-6.3-23.6-0.4-30.3c9.9-11,24.6-6.2,26.8-2.1v-3.4h9.4V103.5z M180.9,71.2 c-15,0-14.9,26.1,0,26.1C195.9,97.3,196.3,71.2,180.9,71.2z"></path><path data-v-326c4d73="" d="M213.1,63.9h9.4v2.4c1.7-1.8,9.4-6.2,17.2-1.1l-3.1,8.6c-9.8-5.1-14.1,0.5-14.1,9.7v21h-9.4V63.9z"></path><path data-v-326c4d73="" d="M274.9,63.9v3.5c-6.8-8.8-31.8-6.6-31.8,16.7c0,22.2,22.6,25.9,31.8,17.4v3h9.4V63.9H274.9z M263.8,97.3 c-14.9,0-15.2-26,0.1-26C279.4,71.2,279.5,97.3,263.8,97.3z"></path><path data-v-326c4d73="" d="M315.8,62.8c28.6,0,29,42.8-0.2,42.8C287.2,105.6,286.9,62.8,315.8,62.8z M315.8,97.3c16.1,0,16.3-26,0-26 C300,71.2,299.5,97.3,315.8,97.3z"></path><path data-v-326c4d73="" d="M257.3,56.9l-5.5-4.6c3.4-4.9,5.7-7.7,10.6-7.7c5.3,0,10.7,4.4,13.1,4.4c1.6,0,3.3-1.5,5.2-4.5l5.3,4.4 c-2.7,5.3-6.3,8-10.8,8C267.1,56.8,261.9,47.3,257.3,56.9z"></path><path data-v-326c4d73="" d="M0,87.5c0,33.6,22.2,61.7,55.2,70.2c0.3-4.9,0.8-9.1,1.5-13c-26.9-8.1-42.3-28.9-42.3-57.2c0-20.7,7.4-36.5,25.9-50.9 c7.5-5.8,14.5-11.5,15.8-20.8C23.1,24,0,53.4,0,87.5z"></path><path data-v-326c4d73="" d="M81.2,0c-7.7,0.9-13,7.2-13.9,16.7c-1.5,15.5-12.4,23.7-15.2,25.6C34.7,54.1,25.2,67.3,25.2,87.1 c0,21.8,14.5,41.3,35.3,47.4c2.2-5.6,4.8-9.1,6.6-11c0-0.1,0.1-0.1,0.1-0.2C41.7,116.8,39.7,94,39.7,87.1c0-8.7,5.3-19.9,17.1-28.5 C74.4,45.8,81.2,37.5,81.2,0z"></path><path data-v-326c4d73="" d="M147.8,87c0-33.3-24-63.8-55.8-71.1c-0.3,5-0.8,9.4-1.6,13.4c26.4,10,43.6,34.5,43.6,57.7c0,19-7.2,33.3-23.9,45.8 c-11.9,8.9-15.9,14.9-16.8,24.7C112.4,154.7,147.8,128.5,147.8,87z"></path><path data-v-326c4d73="" d="M104.4,124c12.7-9.8,19.1-21.2,19.1-37.1c0-19.7-15.9-40.5-36.3-47.6c-3,7.6-7.7,12.4-7.7,12.5C97,57.9,107.8,71.3,107.8,87 c0,7.6-3.4,19.6-16.2,28.8c-22.4,16.1-25.6,22-25.6,59.6c5.3,0.5,9.9,0.5,15.2,0.1C81.2,143.3,85.4,138.8,104.4,124z"></path></svg>
                </a>
              </li>
            </ol>
            <i class="fa fa-long-arrow-right arrow1" aria-hidden="true"></i>
          </div>
          <div key=3 v-else class="stamps inverted">
            <router-link to="/ver" @click.native="checkin('ver')">
              <img class="visible subTit" :src="require('@/assets/ver.svg')" alt="Ver" />
              <img :class="{'visible': destinos.ver}" :src="require('@/assets/stamp6.svg')" alt="Carimbo indicando a página Ver" />
            </router-link>
            <router-link @click.native="showPass" v-if="extras.ver" to="/galeria">
              <img :class="{'visible': extras.ver}" :src="require('@/assets/extra_ver.svg')" alt="Carimbo indicando a página Tocar" />
            </router-link>
            <div v-else></div>

            <router-link to="/saborear" @click.native="checkin('saborear')">
              <img class="visible subTit" :src="require('@/assets/saborear.svg')" alt="Saborear" />
              <img :class="{'visible': destinos.saborear}" :src="require('@/assets/stamp5.svg')" alt="Carimbo indicando a página Saborear" />
            </router-link>
            <router-link @click.native="showPass" v-if="extras.saborear" to="/receitas">
              <img :class="{'visible': extras.saborear}" :src="require('@/assets/extra_saborear.svg')" alt="Carimbo indicando a página Tocar" />
            </router-link>
            <div v-else></div>

            <router-link to="/ouvir" @click.native="checkin('ouvir')">
              <img class="visible subTit" :src="require('@/assets/ouvir.svg')" alt="Ouvir" />
              <img :class="{'visible': destinos.ouvir}" :src="require('@/assets/stamp3.svg')" alt="Carimbo indicando a página Ouvir" />
            </router-link>
            <div class="double">
              <div class="dual" v-if="extras.ouvir1 || extras.ouvir2">
                <img :class="{'visible': extras.ouvir1 || extras.ouvir2}" :src="require('@/assets/extra_ouvir_wrong.svg')" alt="Carimbo indicando a página Tocar" />
              </div>
              <a class="dual" @click.native="showPass" v-if="extras.ouvir1 && extras.ouvir2" href="https://open.spotify.com/playlist/288FjdO5UJiCjQqfNqtLOM?si=6RyPC18WSFamRyx9LtJ7eQ" target="_blank">
                <img :class="{'visible': extras.ouvir1 && extras.ouvir2}" :src="require('@/assets/extra_ouvir.svg')" alt="Carimbo indicando a página Tocar" />
              </a>
            </div>

          </div>
        </transition>
      </div>
      <div class="back" @click="showPass()"></div>
      <div class="page4" @click="showPass()"></div>
      <div class="page3" :style="{'background-image': 'url(' + require('@/assets/fundo.svg') + ')'}">
          <div key=1 v-if="creditos == 'creditos'" class="about inverted" @click="changePage('')">
            <div class="apresenta">
              <div class="thumb"><img :src="require('@/assets/arthur.jpg')" alt="Carimbo indicando a página Tocar" /></div>
              <div>
                <h2>Arthur Roman</h2>
                <p>Observador e tranquilo, enxerga todas as nuances de cores dentro de uma situação e sabe brincar com elas. Pousa seu olhar por dentro dos detalhes, capta mensagens que ficam pairando sob o ar e é atento a tudo aquilo que existe. Inteligente, simpático e ponderado, enxerga além de seu tempo.</p>
              </div>
              <div class="thumb"><img :src="require('@/assets/bruna.jpg')" alt="Bruna Masi" /></div>
              <div>
                <h2>Bruna Masi</h2>
                <p>Fecha os olhos quando abraça para sentir melhor o cheiro que fica. Sensibilidade de quem se responsabiliza e dedicação de quem reconhece o valor de farejar um sonho. Lotada de memórias afetivas, se relaciona bem com o cheiro da família, do cuidado e do amor. </p>
              </div>
              <div class="thumb"><img :src="require('@/assets/heloisa.jpg')" alt="Heloisa Fantini" /></div>
              <div>
                <h2>Heloisa Fantini</h2>
                <p>Sensibilidade de alguém que toca a vida feito poesia. Gosta de se envolver e do atrito gerado quando sente as coisas bem de perto. Encontra infinidade dentro de um vento manso que arrepia e no frio na barriga que antecede situações únicas. Acredita no corpo político e nas mil expressões.</p>
              </div>
            </div>
          </div>
          <div key=2 v-else-if="creditos == 'sobre'" class="about sobre inverted" @click="changePage('')">
              <h1>Sobre</h1>
              <p>Cinco.</p>
              <p>Na vida, às vezes, são necessários apenas cinco segundos de coragem, cinco respirações profundas e cinco passos à frente para ir de onde se quer partir. Cinco também são os sentidos humanos: visão, audição, tato, olfato e paladar, alertas sempre que um indivíduo decide caminhar até onde se quer chegar.</p>
              <p>Esse é o ritmo da vida: dançar entre a esperança das chegadas e aprender com a experiência das partidas.</p>
              <p>Como será a sensação de cravar os pés em uma nova terra? Esse trabalho nasce da inquietação de cinco jovens jornalistas que, ao tentarem responder essa pergunta, descobriram que apesar de um solo diferente, a Terra, esse planeta que habitamos, ou esse piso que andamos, é a mesma em qualquer lugar.</p>
              <p>O projeto convida o usuário a ativar seus sentidos e a viajar por um universo de andares, gostos, ritmos, cores, cheiros, toques, lembranças e linguagens, trazidos por quem veio de fora e chegou aqui, nesse momento, nessa São Paulo, nesse Brasil.</p>
          </div>
      </div>
      <div class="page2"></div>
      <div class="page1"></div>
      <div class="front" @click="showPass()">
        <svg class="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 459 551.1" style="enable-background:new 0 0 459 551.1;" xml:space="preserve">
        <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -97.409 234.4751)" cx="234.3" cy="234.8" rx="174.5" ry="174.5"/>
        <path d="M97.2,410.9c29,10.9,61.5,7.6,87.8-8.9c-16.2-52.7-72.1-82.2-124.7-66c-8.3,2.6-16.2,6.2-23.6,10.8
          C45.8,376.4,68.1,400.1,97.2,410.9z"/>
        <path d="M338.6,416.1C288,435,231.4,429.3,185.5,400.6c28.4-91.9,126-143.4,217.9-115c14.4,4.4,28.1,10.7,40.9,18.7
          C428.4,355.9,389.3,397.3,338.6,416.1z"/>
        <path d="M385.3,107.2c-10.7,8.2-17,21-17,34.5c23.3,6.2,47.1-7.7,53.3-31c1-3.6,1.4-7.4,1.4-11.1C409.9,96.2,396,99,385.3,107.2z"/>
        <path d="M168.7,73.1c-3.4,18.8,2.1,38.1,15,52.3c30.2-15.6,42.1-52.7,26.5-82.9c-2.5-4.8-5.5-9.2-9.1-13.1
          C184.1,38.1,172.1,54.3,168.7,73.1z"/>
        <path d="M382.8,199.9c9.6,20.7,28.3,35.7,50.5,40.7c18.7-36,4.7-80.4-31.4-99.1c-5.6-2.9-11.6-5.1-17.8-6.5
          C373.7,155.3,373.2,179.2,382.8,199.9z"/>
        <ellipse transform="matrix(0.1224 -0.9925 0.9925 0.1224 -153.3598 199.9183)" cx="36.4" cy="186.7" rx="21.7" ry="21.7"/>
        <path d="M332,41.6c0,11.9-9.7,21.6-21.6,21.6s-21.6-9.7-21.6-21.6S298.4,20,310.4,20S332,29.7,332,41.6L332,41.6z"/>
        <path d="M363.2,149.7c0,11.9-9.7,21.6-21.6,21.6s-21.6-9.7-21.6-21.6c0-11.9,9.7-21.6,21.6-21.6l0,0
          C353.5,128.1,363.2,137.8,363.2,149.7z"/>
        <path d="M84.7,120.7c0,6.5-5.2,11.8-11.6,11.8c-6.5,0-11.8-5.2-11.8-11.6c0-6.5,5.2-11.8,11.6-11.8c0,0,0.1,0,0.1,0
          C79.4,109,84.6,114.2,84.7,120.7z"/>
        <path d="M59.8,325.3c0,6.4-5.3,11.6-11.7,11.6c-6.4,0-11.6-5.3-11.6-11.7c0-6.4,5.2-11.5,11.6-11.6c6.4,0,11.7,5.1,11.7,11.6
          C59.8,325.2,59.8,325.3,59.8,325.3z"/>
        <path d="M410.5,452.4c-1.1,8.3-26.5-2.2-97.6,21.2c-11.4,3.9-22.5,8.5-33.3,13.9c15.3-11.5,31.1-23.1,48.8-32.8
          c28.9-15.7,50.3-23.5,65-28.1C404.9,431.8,412.1,440.2,410.5,452.4z M198.5,431.4c-64.7-3.8-50.5-44.9-87.8-52.5
          c-20.3-4.2-34.9,8.7-38.2,15.3c-3.3,6.6,56.3,22.5,51.2,69.6c-2.3,21.1-48.4,26.7-37.9,51.2c9.5,22.2,43.1,29.2,98.8,9.8
          c54.1-18.9,85.8-57.9,135.6-84.9c67.8-36.8,96.2-32.4,95.5-40.3c-2.6-28.6-53.7-24.9-90.4-9.6C305.1,398.3,246.1,434.2,198.5,431.4z
          "/>
        <path d="M408.6,225.3c0-1.1-0.1-1.9-0.1-1.9c-23.3,5.3-34,20.6-46.9,42c-0.7,1.1-1.2,2.1-1.8,2.9c-0.8,1.2-1.7,2.4-2.4,3.5
          c-2.3,3.4-4.9,6.6-7.9,9.5c-2.6,2.5-5,3.7-7.3,3.7c-1.1,0-1.7-0.7-1.7-2.2c0.1-1.5,0.4-3,0.9-4.4c0.6-1.9,1.4-3.9,2.3-6.2
          c0.9-2.2,2-4.6,3.1-7.1c1.1-2.5,2.2-5,3.1-7.2c0.9-2.2,1.7-4.5,2.4-6.5c0.6-1.6,0.9-3.2,0.9-4.9c0.2-1.3-0.4-2.6-1.4-3.4
          c-0.9-0.6-2.1-0.9-3.2-0.9c-1.2,0-2.5,0.2-3.7,0.5c-1.1,0.3-2.1,0.7-3.1,1.1c-0.9,0.4-1.8,0.7-2.7,1.1c-0.9,0.3-1.8,0.5-2.7,0.5
          c-0.9,0-1.8-0.1-2.7-0.3c-1.2-0.4-2.2-1.1-3-2.1c0.7-1,1.3-2,1.8-3c0.7-1.3,1.2-2.6,1.7-4c0.4-1.4,0.8-2.9,1.1-4.5
          c0.3-1.4,0.4-2.9,0.4-4.4c0.1-1.7-0.3-3.3-1.1-4.8c-0.9-1.3-2.4-2-3.9-1.9c-3.7-0.2-7.2,1.5-9.4,4.5c-2.4,3.5-3.5,7.6-3.3,11.8
          c-0.1,2,0.4,4,1.2,5.8c0.8,1.6,1.9,2.9,3.2,4c1.2,0.9,2.5,1.6,3.9,2.1c-1.6,2.8-3.4,6.1-5.6,9.6c-2.4,4-5,7.9-7.8,11.6
          c-2.5,3.3-5.2,6.5-8.1,9.4c-2.7,2.6-5,3.9-7,3.9c-0.6,0-0.9-0.6-0.9-1.7c0.1-2.1,0.4-4.1,0.9-6.2c0.6-2.7,1.5-5.7,2.5-8.9
          c1.1-3.2,2.2-6.5,3.6-9.8s2.6-6.3,3.9-8.9c0.2-0.5,0.4-1,0.4-1.5c0-1.1-0.7-2.1-1.7-2.7c-1-0.7-2.3-1-3.5-1c-0.9,0-1.8,0.2-2.6,0.7
          c-0.8,0.4-1.4,1.2-1.7,2.1c-0.4,1.3-1.2,3.4-2.3,6.2c-0.5,1.3-1.1,2.7-1.7,4.2c-0.1,0.2-0.3,0.4-0.4,0.7c-2,3.2-4.2,6.2-6.6,9.1
          c-2,2.5-4.2,4.9-6.7,7c-1.8,1.7-4.1,2.7-6.5,2.8c-0.9,0-1.7-0.5-2-1.3c-0.4-1.2-0.6-2.4-0.6-3.6c0-2.6,0.3-5.1,0.8-7.6
          c0.5-3,1.2-6,2.1-9.1s1.8-6.2,2.7-9.1c1-2.9,1.8-5.5,2.6-7.7c2-2.1,4.1-4.4,6.2-6.9c2.1-2.5,4.2-5.1,6.2-7.8c2-2.7,4-5.5,6-8.3
          l5.6-8l5.5-1.7c2-0.6,4.1-1.2,6.4-1.8c2.2-0.5,4.4-1,6.7-1.4c2.2-0.4,4.5-0.6,6.7-0.6c1,0,2,0,3,0.1c1,0.1,1.9,0.2,2.8,0.4
          c-0.9,0.2-1.8,0.7-2.5,1.3c-0.5,0.4-0.7,1-0.8,1.7c0,0.9,0.4,1.8,1.1,2.4c0.7,0.7,1.7,1.1,2.7,1c1-0.1,2-0.4,2.8-1.1
          c1.1-0.8,1.6-2,1.5-3.3c0.1-0.9-0.2-1.7-0.8-2.4c-0.8-0.7-1.8-1.3-2.9-1.7c-1.2-0.4-2.4-0.7-3.6-0.9c-1.1-0.2-2.3-0.3-3.4-0.3
          c-2,0-4,0.2-6,0.5c-2,0.3-4.1,0.7-6.1,1.3l-6,1.5c-2,0.5-3.9,0.9-5.7,1.3c0.9-1.2,1.5-2.6,1.8-4c0.5-1.9,0.8-3.8,0.8-5.8
          c0-1.6-0.3-3.2-0.9-4.7c-0.6-1.3-2-2.2-3.5-2c-2.8,0-5.6,0.9-7.8,2.6c-2.3,1.7-4.4,3.8-6.2,6.1c-1.7,2.2-3.2,4.6-4.6,7
          c-1.3,2.3-2.2,4.1-2.9,5.2c-1,0.2-2.3,0.3-3.7,0.4c-1.4,0.1-2.9,0.2-4.3,0.2c-2.3,0-4.6-0.2-6.8-0.6c-2.2-0.4-3.4-1.1-3.9-1.9
          c0.9,0,1.8-0.5,2.2-1.3c0.5-0.6,0.7-1.3,0.8-2.1c0-0.8-0.3-1.5-0.9-2c-0.5-0.5-1.3-0.8-2-0.8c-0.9,0.1-1.7,0.4-2.3,0.9
          c-1,0.7-1.5,1.9-1.3,3.1c-0.1,1.4,0.4,2.8,1.4,3.9c1,1,2.2,1.8,3.6,2.3c1.6,0.6,3.2,1,4.9,1.1c1.8,0.2,3.6,0.2,5.3,0.2
          c1,0,2,0,2.9,0c0.9,0,1.8-0.1,2.5-0.2c-0.6,2.1-1.4,4.1-2.3,6c-1.1,2.6-2.3,5.5-3.6,8.7c-1.3,3.2-2.7,6.8-4.1,10.5
          c-1.4,3.8-2.7,7.5-3.9,11.4c-1.1,3.8-2,7.3-2.8,10.8c-1.1,1.9-2.3,3.9-3.6,5.9c-1.8,2.9-3.7,5.8-5.6,8.5c-1.8,2.6-3.8,5.1-5.9,7.4
          c-1.7,2-3.6,3.7-5.6,5.3c-1.4,1.1-3.1,1.8-4.9,2c-0.8,0-1.3-0.6-1.3-1.8c0.2-1.9,0.6-3.8,1.3-5.7c0.9-2.5,1.9-5.2,2.9-8.2
          c1-3,2-6,2.9-9.1c0.8-2.8,1.3-5.7,1.3-8.6c0.1-2.3-0.4-4.6-1.3-6.7c-0.8-1.8-2.7-2.7-5.6-2.7c-1.8,0-3.6,0.5-5.1,1.5
          c-1.7,1.1-3.2,2.3-4.6,3.8c-1.5,1.6-2.9,3.4-4.1,5.3c-1.3,1.9-2.6,3.9-3.9,5.8c0.3-1,0.6-2.1,0.9-3.3c0.4-1.2,0.8-2.4,1.1-3.7
          c0.4-1.3,0.7-2.5,1-3.7c0.3-1,0.4-2.1,0.4-3.2c0-1-0.6-1.9-1.4-2.3c-0.9-0.6-2-1-3.2-0.9c-0.9,0-1.7,0.2-2.5,0.6
          c-0.8,0.4-1.3,1.1-1.5,2l-3.5,11.2c-0.1,0.2-0.3,0.5-0.5,0.7c-2.4,3.7-5.1,7.3-8,10.6c-2.6,3.1-5.6,5.9-8.8,8.3
          c-2.4,2-5.4,3.2-8.6,3.3c-1.5,0.1-3-0.4-4.2-1.2c-1.1-0.8-2-1.9-2.7-3.1c-0.7-1.4-1.2-2.8-1.5-4.3c-0.3-1.6-0.4-3.2-0.4-4.8
          c0-0.9,0-1.8,0.1-2.7c0.1-0.8,0.2-1.6,0.4-2.4c3.4-1.6,6.6-3.7,9.5-6.1c3-2.5,5.8-5.3,8.3-8.3c2.2-2.7,4.2-5.6,5.8-8.7
          c1.3-2.2,2.1-4.8,2.2-7.3c0-1.2-0.4-2.4-1.2-3.3c-1.1-1-2.5-1.4-4-1.3c-4.1,0.1-8,1.4-11.2,3.9c-3.7,2.7-6.9,6-9.5,9.8
          c-2.8,4-5,8.4-6.7,13.1c-0.3,0.7-0.5,1.5-0.7,2.2c-1.4,1.8-3.1,3.4-4.8,4.8c-2.7,2.1-5.5,3.8-8.5,5.3c-2.2-7.3-6.7-16.9-13.4-28.6
          l-2.3-3.9c11.4-13.8,17-28.5,17-44c0-7.4-1.7-12.9-5-16.6c-3.3-3.7-8-5.7-12.9-5.5c-6.6-0.2-12.9,2.6-17,7.8
          c-4.4,5.6-6.6,12.6-6.3,19.7c0,10.1,4.4,23.1,13.2,38.8l2.3,4.1c-12.4,12.5-26.2,18.8-41.6,18.8c-10.5,0-18.7-3.9-24.7-11.6
          c-3.5-4.5-6-9.7-7.3-15.2c-0.1,3.3-0.2,6.3-0.1,9.1c1.3,3,3,5.9,5.1,8.5c6.7,8.5,15.7,12.8,27,12.8c16.1,0,30.6-6.3,43.4-18.9
          c4.1,7.4,6.9,12.6,8.5,15.7c2.1,4.2,3.8,8.6,5,13.1c-3.8,1.3-7.6,2.8-11.3,4.5c-7,3.3-10.4,8.5-10.4,15.5c-0.1,2.9,0.9,5.8,2.8,8
          c2.1,2.2,5.1,3.3,8.1,3.2c2.5,0,5-0.6,7.3-1.8c2.3-1.1,4.4-2.6,6.2-4.4c2.6-2.6,4.6-5.8,5.8-9.2c1.8-5.1,2.2-10.5,1.4-15.8
          c4.1-1.8,7.8-4.3,11-7.3c-0.2,1.5-0.3,3.1-0.3,4.6c0,2.3,0.3,4.7,0.9,6.9c0.6,2.1,1.6,4,3,5.6c1.4,1.7,3.2,2.9,5.3,3.8
          c2.5,0.9,5.1,1.4,7.8,1.3c3.3-0.1,6.6-1.2,9.3-3.2c3.3-2.3,6.3-5,8.9-8.1c1.8-2,3.5-4.2,5.2-6.5c-1.1,3.7-2.2,7.4-3.3,11
          c-0.1,0.3-0.1,0.6-0.1,0.9c0,0.8,0.4,1.5,1.1,1.9c0.8,0.4,1.7,0.7,2.7,0.6c1,0,1.9-0.2,2.8-0.6c0.9-0.3,1.6-0.9,2-1.7
          c1.3-2.5,2.8-5.5,4.6-8.9c1.8-3.4,3.7-6.7,5.7-9.7c1.8-2.8,3.8-5.4,6-7.8c2-2.2,3.8-3.3,5.5-3.3c0.4,0,0.6,0.4,0.6,1.1
          c-0.2,1.8-0.6,3.6-1.3,5.3c-0.9,2.4-1.9,5.2-2.9,8.1c-1,3-2,6.1-2.9,9.3c-0.8,2.8-1.3,5.8-1.3,8.7c-0.1,2.4,0.4,4.8,1.5,6.9
          c1,1.8,2.9,2.7,5.7,2.7c3.8-0.1,7.5-1.6,10.3-4.3c3.6-3.2,6.9-6.8,9.6-10.7c2.4-3.3,4.6-6.8,6.9-10.5c0,0.7,0,1.4,0,2.1
          c-0.2,3.2,0.6,6.4,2.3,9.2c1.5,2.3,4.2,3.5,8,3.5c2.3-0.1,4.6-0.9,6.5-2.2c2.4-1.6,4.7-3.5,6.7-5.6c1.6-1.7,3.1-3.3,4.5-5.1
          c-0.4,1.3-0.7,2.5-1.1,3.8c-0.9,3-1.3,6.1-1.4,9.2c-0.1,1.9,0.4,3.7,1.5,5.3c1.4,1.5,3.3,2.2,5.3,2c2.8-0.1,5.5-1.1,7.7-2.7
          c2.9-2,5.5-4.3,7.8-7c2.6-2.9,5-6,7.2-9.3c2.3-3.3,4.3-6.5,6-9.5c1.7-3,3.1-5.5,4.1-7.5c0.4-0.9,0.8-1.7,1-2.2
          c4.7,0.7,9.6,0,13.9-1.9c-1.1,1.8-2.3,4-3.6,6.7c-1.3,2.7-2.5,5.5-3.7,8.4c-1.1,2.9-2.1,5.9-2.9,8.9c-0.7,2.7-1.1,5.4-1.1,8.2
          c-0.1,2.4,0.5,4.8,1.8,6.9c1.2,1.8,3.4,2.7,6.7,2.7c2.7,0,5.3-0.9,7.5-2.5c2.6-1.8,5-3.9,7.1-6.4c2.4-2.7,4.6-5.6,6.7-8.6
          c0.6-1,1.3-1.9,1.9-2.9l0.1-0.1l0.6-0.9c1-1.7,2-3.2,2.9-4.8c15-24.1,24.9-31.3,41.4-36.1C408.6,227,408.6,226.5,408.6,225.3z
           M294.1,201.6c0.9-1.7,2-3.3,3.1-4.9c1.1-1.5,2.4-3,3.7-4.4c1.2-1.3,2.2-1.9,3-1.9s1.1,0.7,1.1,2.2c0,0.8-0.1,1.7-0.2,2.5
          c-0.1,1-0.4,2-0.6,3c-0.3,1-0.6,2-1,3c-0.3,0.9-0.8,1.8-1.3,2.6c-1.5,0.6-3.1,1.1-4.8,1.3c-1.7,0.3-3.1,0.5-4.1,0.6
          c-0.1-0.1-0.1-0.2-0.1-0.4C293,203.9,293.4,202.7,294.1,201.6z M286.8,219.1c1.3-3.6,2.9-7,4.6-10.4c0.6-0.2,1.1-0.3,1.7-0.4
          l1.5-0.2l2-0.3l3.3-0.6c-0.4,0.8-1.4,2.2-2.9,4.3c-1.5,2.1-3.1,4.4-5,6.8c-1.9,2.4-3.6,4.7-5.3,6.9c-1.2,1.6-2.5,3.1-3.9,4.6
          C284.1,226.4,285.4,222.8,286.8,219.1L286.8,219.1z M182.9,247.2c1.8-3.2,3.8-6.2,6.2-9.1c2-2.4,4.1-4.6,6.5-6.7
          c1.2-1.2,2.6-2.1,4.2-2.6c1.2,0,1.8,0.6,1.8,1.9c-0.2,2-0.9,3.9-1.9,5.6c-1.4,2.6-3.1,5.1-5,7.4c-2.2,2.7-4.5,5.2-7,7.5
          c-2.3,2.2-5,4.1-7.8,5.7C180.1,253.5,181.1,250.2,182.9,247.2L182.9,247.2z M127.7,192.4c-0.1-5.2,1.2-10.3,3.9-14.7
          c2.3-4,6.6-6.4,11.1-6.2c3.6-0.1,7,1.5,9.2,4.3c2.3,2.9,3.5,7.1,3.5,12.7c0,14.2-5.1,27.7-15.2,40.5
          C131.9,214,127.7,201.8,127.7,192.4L127.7,192.4z M146.9,287.5c-2.5,5.2-6,7.8-10.5,7.8c-1.4,0-2.7-0.6-3.7-1.7
          c-1.2-1.3-1.8-3.1-1.7-4.8c0-5.4,2.9-9.4,8.7-12.2c1.9-0.9,5.1-2.2,9.8-3.9c0.1,0.9,0.1,1.7,0.1,2.6
          C149.7,279.5,148.7,283.7,146.9,287.5L146.9,287.5z M328.6,240.6c-0.5-1.3-1-2.6-1.4-4.1c-0.4-1.4-0.6-2.9-0.6-4.4
          c0-1.9,0.2-3.7,0.8-5.5c0.5-1.6,1.2-2.4,2.2-2.4c0.9-0.1,1.8,0.3,2.4,1.1c0.5,0.8,0.8,1.8,0.7,2.7c0,1.2-0.2,2.3-0.4,3.5
          c-0.3,1.3-0.7,2.5-1.1,3.8c-0.4,1.2-0.9,2.3-1.3,3.2C329.5,239.2,329.1,239.9,328.6,240.6L328.6,240.6z"/>
        </svg>
        <span class="capa">PASSAPORTE<br />
          <svg class="white" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 453.9 230.3" style="enable-background:new 0 0 453.9 230.3;" xml:space="preserve">
            <g>
              <path d="M0.6,127c1.1,0,2,0,3,0c48.5,0,97,0,145.4-0.1c2.5,0,3.2,0.8,3.6,3.1c5.7,31.1,32.1,56.1,63.2,60.7
                c40.1,6.1,78.9-21,86.2-61.5c0.3-1.6,0.9-2.3,2.7-2.3c49.1,0,98.2,0,147.3,0c0.6,0,1.2,0.1,1.9,0.1c0,34.2,0,68.3,0,102.6
                c-151,0-302.1,0-453.3,0C0.6,195.5,0.6,161.4,0.6,127z"/>
              <path d="M453.9,0.5c0,34.3,0,68.4,0,102.8c-1,0-1.8,0-2.6,0c-48.6,0-97.3,0-145.9,0.1c-2.4,0-3-0.9-3.4-3
                c-5.8-31.2-31.8-56.2-63.2-60.8c-40.9-6-78.6,20.7-86.3,61.3c-0.3,1.8-1,2.4-2.9,2.4c-49-0.1-98,0-147,0c-0.6,0-1.2-0.1-2-0.1
                c0-34.3,0-68.4,0-102.7C151.6,0.5,302.6,0.5,453.9,0.5z"/>
              <path d="M279.8,115.1c0,29.1-23.5,52.6-52.6,52.7c-29,0-52.6-23.5-52.6-52.6c0-29.1,23.5-52.6,52.6-52.6
                C256.3,62.5,279.8,86,279.8,115.1z"/>
            </g>
          </svg>
        </span>
      </div>
    </section>
  </nav>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:500&display=swap');

nav {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 13%;
  height: 35%;
  transform: translateX(90%)rotate(-25deg);
  transition: all .5s ease;
}
nav:hover {
  transform: translate(20%, -30%)rotate(-25deg);
}
nav.toggleBook {
  width: 40%;
  height: 90%;
  bottom: 5%; right: 10%;
  transform: rotate(0);
}

.exit {
  position: absolute;
  bottom:100vw;
  left:100vh;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1;
}

.toggleBook .exit {
  display: block;
  bottom:-5vh;
  left:-50vw;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  backface-visibility: visible;
  transition: all .5s ease-in-out;
  z-index: 99;
}

.front .logo {
  stroke: #fff;
  stroke-width: 6;
  fill: #094160;
  margin: 10% 10% 0 10%;
  width:80%;
}

.capa {color: #fff;}
.white {width: 3vh; height: auto; fill:#fff}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 95%;
  height: 99%;
  top: .5%; left: .25vh;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out, width .5s ease-in-out;
}
.front, .back {
  width: 100%;
  height: 100%;
  top:0; left: 0;
  background: #094160;
}
.toggleBook .page1, .toggleBook .page2, .toggleBook .page3, .toggleBook .page4, .toggleBook .page5, .toggleBook .page6 {
  left: 0; z-index: 999; width: 99%; height: 99%;
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 {
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 200%;
  background-blend-mode: multiply;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #FAFAFA;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 200%;
  background-blend-mode: multiply;
}

.page6 {
  background: #F8F8F8;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 200%;
  background-blend-mode: multiply;
}

.toggleBook .front {
  transform: rotateY(-175deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.toggleBook .page1 {
  transform: rotateY(-170deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.toggleBook .page2 {
  transform: rotateY(-10deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.toggleBook .page3 {
  transform: rotateY(-165deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.toggleBook .page4 {
  transform: rotateY(-15deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.toggleBook .page5 {
  transform: rotateY(-160deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.creditos .page5 {
  transform: rotateY(-25deg);
}

.toggleBook .page6 {
  transform: rotateY(-20deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
.sobre .page6 {
  transform: rotateY(-175deg);
}

.toggleBook .back {
  transform: rotateY(-5deg);
}

.insta {
  display: flex;
  align-items: flex-end;
}
.insta img {width: 55px; height: 45px;}

.stamps {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 10%;
  position: relative;
}

.stamps a, .stamps div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #999;
}
.stamps .double {display: block;}
.stamps .dual {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

.stamps img { position: absolute; width: 100%; height: 100%; opacity: 0; transition: all .5s .75s ease-in-out;}
.stamps img.visible { opacity: 1; }
.stamps img.subTit {opacity: .5}

.inverted {
  transform: scale(-1, 1);
}

.about {
  box-sizing: border-box;
  display: none;
  padding: 3%;
  text-align: left;
  font-size: 2vh;
}
.about h1, .about h2 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 3.5vh;
  padding-bottom: .5vh;
}

.sobre {
  font-size: 2.1vh;
}
.credit { font-size: 1.9vh; }

ol {list-style: none; text-align: center; padding: 0;}

.apresenta {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
}
.apresenta h2, .apresenta p {margin: 0; text-align: left;}
.thumb {overflow: hidden; margin: 1vh 2vh 0 0; width: 17vh; height: 17vh; border-radius: 50%;}
.thumb img {display: block; object-fit: cover; object-position: center; width:100%; height: 24vh;}

.creditos .about, .sobre .about {
  position: absolute;
  width: 100%;
  height: 100%;
}
.creditos .about {display: flex;}
.creditos .about.sobre, .creditos .about.credit {display: block;}

.creditLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.creditLogo img {
  width: 50%;
  height: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.volta {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 20;
  bottom: 3%; right: 1.5%;
  transition: all .5s ease;
  color: #c8383d;
  border-radius: 25px;
  padding: 5px 15px;
}
.volta:hover {
  background-color: #c8383d;
  color: #fff;
}
.seta {
  border-bottom: 3px solid #c8383d;
  border-right: 3px solid #c8383d;
  width: 10px;
  height: 10px;
  transform: translateX(15%)rotate(135deg);
  transition: all .25s ease;
 }
 .volta:hover .seta { border-color: #fff; }

.close {
  position: absolute;
  z-index: 20;
  top: .5%; right: 0;
  opacity: 0;
  transition: all .5s ease;
}

.carimbo {
  position: absolute;
  width: 30%;
  transition: all .5s ease;
  transform: rotate(130deg);
  top: 5%; right: -200%;
  z-index: 9999;
}
.toggleBook .carimbo {top: 25%; right: -10%;}
.ver {animation: cVer 2s normal}
.saborear {animation: cSaborear 2s normal}
.ouvir {animation: cOuvir 2s normal}
.cheirar {animation: cCheirar 2s normal}
.tocar {animation: cTocar 2s normal}
.e_ver {animation: eVer 2s normal}
.e_saborear {animation: eSaborear 2s normal}
.e_ouvir1 {animation: eOuvir 2s normal}
.e_ouvir2 {animation: eOuvir 2s normal}
.e_cheirar {animation: eCheirar 2s normal}
.e_tocar {animation: eTocar 2s normal}
@keyframes cVer {
  0% {transform: rotate(130deg); top: 25%; right: -10%;}
  35% {transform: rotate(20deg); top: 8%; right: 130%}
  50% {transform: rotate(-45deg); top: 0%; right: 150%}
  100% {transform: rotate(130deg); top: 25%; right: -10%;}
}
@keyframes cSaborear {
  0% {transform: rotate(130deg); top: 25%; right: -10%;}
  35% {transform: rotate(20deg); top: 20%; right: 130%}
  50% {transform: rotate(-45deg); top: 40%; right: 150%}
  100% {transform: rotate(130deg); top: 25%; right: -10%;}
}
@keyframes cOuvir {
  0% {transform: rotate(130deg); top: 25%; right: -10%;}
  35% {transform: rotate(20deg); top: 40%; right: 130%}
  50% {transform: rotate(-45deg); top: 65%; right: 150%}
  100% {transform: rotate(130deg); top: 25%; right: -10%;}
}
@keyframes cCheirar {
  0% {transform: rotate(130deg); top: 25%; right: -10%;}
  35% {transform: rotate(20deg); top: 10%; right: 40%}
  50% {transform: rotate(-45deg); top: 5%; right: 70%}
  100% {transform: rotate(130deg); top: 25%; right: -10%;}
}

@keyframes cTocar {
  0% {transform: rotate(130deg); top: 25%; right: -10%;}
  35% {transform: rotate(20deg); top: 30%; right: 35%}
  50% {transform: rotate(-45deg); top: 35%; right: 60%}
  100% {transform: rotate(130deg); top: 25%; right: -10%;}
}
@keyframes eVer {
  0% {transform: rotate(130deg); top: 25%; right: -10%;}
  35% {transform: rotate(20deg); top: 8%; right: 90%}
  50% {transform: rotate(-45deg); top: 0%; right: 120%}
  100% {transform: rotate(130deg); top: 25%; right: -10%;}
}
@keyframes eSaborear {
  0% {transform: rotate(130deg); top: 25%; right: -10%;}
  35% {transform: rotate(20deg); top: 15%; right: 90%}
  50% {transform: rotate(-45deg); top: 30%; right: 130%}
  100% {transform: rotate(130deg); top: 25%; right: -10%;}
}
@keyframes eOuvir {
  0% {transform: rotate(130deg); top: 25%; right: -10%;}
  35% {transform: rotate(20deg); top: 40%; right: 90%}
  50% {transform: rotate(-45deg); top: 60%; right: 120%}
  100% {transform: rotate(130deg); top: 25%; right: -10%;}
}
@keyframes eCheirar {
  0% {transform: rotate(130deg); top: 25%; right: -10%;}
  35% {transform: rotate(20deg); top: 10%; right: -10%}
  50% {transform: rotate(-45deg); top: 5%; right: 20%}
  100% {transform: rotate(130deg); top: 25%; right: -10%;}
}

@keyframes eTocar {
  0% {transform: rotate(130deg); top: 25%; right: -10%;}
  35% {transform: rotate(20deg); top: 30%; right: -10%}
  50% {transform: rotate(-45deg); top: 40%; right: 20%}
  100% {transform: rotate(130deg); top: 25%; right: -10%;}
}

.toggleBook .close {right: -2%; opacity: 1;}

.icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 20px;
  overflow: hidden;
}
.icon::before, .icon::after {
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.25s ease;
  border-radius: 30px;
}
.icon-expand::after {
  box-shadow: inset 0 0 0 5px #c8383d;
}
.icon-expand::before {
  box-shadow: inset 0 0 0 0 rgba(0,0,0,0);
  content: '×';
  color: #c8383d;
}
.icon-expand:hover::before {
  box-shadow: inset 0 0 0 60px #c8383d;
  color: #fff;
}
</style>

<script>
import { mapGetters } from 'vuex'
import { mapActions } from 'vuex'

export default {
  name: 'Navigation',
  data() {
    return {
    }
  },
  computed: mapGetters(['pass','destinos','extras','creditos','change']),
  methods: {
    ...mapActions(['checkin','showPass','changePage'])
  }
}
</script>
