<template>
  <div class="vimeoPlayer"></div>
</template>


<script>
import Player from '@vimeo/player'

export default {
  name: 'Player',
  data() {
     return {
        player: null
     }
  },
  props: ['options'],
  methods: {
    install() {
      let vm = this
      this.player = new Player( this.$el, this.options );
      this.player.on('loaded',     function()    {vm.$emit('ready')});
      this.player.on('play',       function()    {vm.$emit('play')});
      this.player.on('pause',      function()    {vm.$emit('pause')});
      this.player.on('ended',      function()    {vm.$emit('ended')});
      this.player.on('timeupdate', function(time){vm.$emit('timeupdate', time)});
    },
    setCurrentTime(time) {
      this.player.setCurrentTime(time)
    },
    play(){
      this.player.play()
    },
    pause() {
      this.player.pause()
    },
    loadVideo(number) {
      this.player.loadVideo(number)
    }
  },
  mounted() {
    this.install()
  },
}
</script>


<style>
</style>
