<template>
  <div id="app">
    <div class="alert">
      <p>Vire o seu smartphone e aproveite melhor o vídeo.</p>
      <div class='smartphone'>
        <div class='content'>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li style='width: 90%'></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li style='width: 60%'></li>
            <li></li>
            <li></li>
            <li style='width: 70%'></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<style>
*{box-sizing: border-box; -webkit-box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #000;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert {
  display: none;
  opacity: 0;
  position: absolute;
  top:0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  align-items: center;
  justify-content: center;
  transition: opacity .5s ease-in-out;
  z-index: 9999999;
}

@media (orientation: portrait) {
  .alert {
    display: flex;
    flex-direction: column;
    opacity: 1;
  }
}


/* fone */

.alert ul, .alert li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Smartphone */
.smartphone {
  width: 70px;
  height: 130px;
  margin: 40px 0 0 0;
  border: 5px #e1e1e1 solid;
  border-top-width: 15px;
  border-bottom-width: 20px;
  border-radius: 4px;
  -webkit-animation: smartphone 2s ease-in-out infinite;
          animation: smartphone 2s ease-in-out infinite;
}

@-webkit-keyframes smartphone {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes smartphone {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0;
  }
}
.smartphone:before {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  margin: -10px auto;
  background: #000;
  border-radius: 4px;
}

.smartphone:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  margin: 4px auto;
  background: #000;
  border-radius: 10px;
}

.smartphone .content {
  width: 60px;
  height: 100px;
  margin: 15px 0 0 0;
  padding: 10px;
  background: #9b3c6f;
  color: #762e55;
  font-size: 0.5em;
  overflow: hidden;
}

.smartphone ul li {
  height: 6px;
  margin: 0 0 5px 0;
  border-color: #762e55;
  background: #762e55;
}

.smartphone ul {
  -webkit-animation: screen 2s ease-in-out infinite;
          animation: screen 2s ease-in-out infinite;
}

@-webkit-keyframes screen {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(0deg) translateY(0%) translateX(0%) scaleX(1);
            transform: rotate(0deg) translateY(0%) translateX(0%) scaleX(1);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(90deg) translateY(-1%) translateX(-300%) scaleX(1.7);
            transform: rotate(90deg) translateY(-1%) translateX(-300%) scaleX(1.7);
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(90deg) translateY(-1%) translateX(-300%) scaleX(1.7);
            transform: rotate(90deg) translateY(-1%) translateX(-300%) scaleX(1.7);
    opacity: 0;
  }
}

@keyframes screen {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(0deg) translateY(0%) translateX(0%) scaleX(1);
            transform: rotate(0deg) translateY(0%) translateX(0%) scaleX(1);
  }
  60% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(90deg) translateY(-1%) translateX(-300%) scaleX(1.7);
            transform: rotate(90deg) translateY(-1%) translateX(-300%) scaleX(1.7);
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(90deg) translateY(-1%) translateX(-300%) scaleX(1.7);
            transform: rotate(90deg) translateY(-1%) translateX(-300%) scaleX(1.7);
    opacity: 0;
  }
}

</style>
